.parcel-widget-full {
  background-color: $blue-cover;

  .parcel-widget-full-title {
    [data-action-title] {
      display: none;
    }
  }

  .mt-sp {
    margin-top: 1.7rem;
  }

  .details-list {
    &::after {
      display: none;
    }
  }

  .details-list-area {
    display: flex;
    position: relative;
  }

  [data-action="quote-btn"] {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @include media-breakpoint-down(md) {
    [data-action="custom-size-inputs"] {
      .details-back {
        top: -5px !important;
      }
    }
    .details-list-area {
      flex-direction: column;
    }
  }
}

.input-toggler {
  cursor: pointer;
  transform: translateY(25%);

  &.offset-20 {
    bottom:-20px ;
  }

  i {
    transition: transform $transition ease;
  }

  &.active {
    i {
      transform: rotate(-180deg);
    }
  }
}

.details-list {
  position: relative;
  background-color: $gray-7;
  color: $dark-gray;
  border-radius: 8px;
  border: 2px solid $gray-8;
  transform-origin: top !important;
  margin-bottom: 20px;

  .parcel-widget-botton-actions {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }

  .info-input {
    &.add-row {
      padding-top: 1rem;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-70%) translateX(135%);

      .remove {
        margin: 0;
      }
    }
  }

  &.disable-arrow {
    &::after {
      display: none;
    }
  }

  .row {
    margin: 20px 10px;
  }

  .details-list-container {
    .details-list-row {
      margin-top: 20px;
      display: flex;
      position: relative;
      align-items: center;

      [data-action="target-toggler"] {
        display: none;
      }

      .details-back {
        position: absolute;
        top: -2px;
        right: 10px;
        font-size: 1rem;
        color: $white;
        cursor: pointer;
        opacity: 0.5;
        transition: opacity $transition ease;

        &:hover {
          opacity: 1;
        }
      }

      .info-input-more {
        &:last-child {
          display: block;
          color: $danger;
        }
        &:first-child {
          display: none;
        }
      }

      &:first-child {
        margin-top: 0;

        [data-action="target-toggler"] {
          display: block;
        }

        .info-input-more {
          &:first-child {
            display: block;
          }
          &:last-child {
            display: none;
          }
        }
      }
    }
  }

  &::after {
    top: -7px;
    right: 80px;
    content: "";
    display: block;
    position: absolute;
    border-top: 12px solid transparent;
    border-left: 12px solid $gray-8;
    transform: rotate(135deg);
  }
  .results-update-btn {
    cursor: default;
    margin-top: 12px;
  }

  &.theme-blue {
    background-color: $blue-cover-2;
    color: $white;
    border: 1px solid $border-special;

    .details-list-container {
      .details-list-row {
        .info-input-more {
          transform: translateY(2px);
          font-size: 1.4rem;
          color: rgba($white, 0.6);
          transition: color $transition ease;

          &.remove {
            color: rgba($white, 0.6);
          }

          &:hover {
            color: $white;
          }
        }
      }
    }

    &.with-menu {
      border-top-left-radius: 0px;
      margin-top: 4rem;

      .parcel-widget-from-to {
        display: flex;
        justify-content: space-between;
      }

      .tab-content {
        width: calc(100% - 40px);
      }

      .details-list-container {
        .details-list-row {
          margin-top: 0;
          padding-bottom: 20px;

          &:first-child {
            .info-input.add-row {
              display: none;
            }
          }
        }
      }

      .tab-content {
        > div {
          > .row {
            margin: 20px 10px;
          }
        }
      }

      .nav-tabs {
        position: absolute;
        top: 0;
        left: -1px;
        transform: translateY(-100%) translateY(1px);
        display: flex;
        align-items: center;
        border-bottom: 0;

        &:after {
          display: none !important;
        }

        .nav-link {
          cursor: pointer;
          margin-right: 0;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          background-color: transparent;
          padding: 0.5rem 1rem;
          color: $white;
          font-weight: 400;
          border-left: 2px solid transparent;
          border-top: 2px solid transparent;
          border-right: 2px solid transparent;

          &:before {
            display: none !important;
          }

          &:after {
            display: none !important;
          }

          &.active {
            background-color: $blue-cover-2;
            border-left: 1px solid $border-special;
            border-top: 1px solid $border-special;
            border-right: 1px solid $border-special;
          }
        }
      }
    }

    .info-input {
      input,
      button {
        border-radius: 0;
        background-clip: border-box;
      }
    }

    .border-bottom {
      border-bottom: 2px solid $primary !important;
    }

    .input-measure {
      background-color: $white;
      border-radius: 0;
    }
  }

  @include media-breakpoint-down(xl) {
    &.theme-blue {
      &.with-menu {
        .tab-content {
          width: 100%;
        }
      }
    }

   .input-toggler {
      right: 0;
    }

    .info-input {
      &.add-row {
        padding-top: 1rem;
        position: absolute;
        right: 0;
        top: auto;
        bottom: 0;
        text-align: right;
        transform: translateY(80%) translateX(0);
      }
    }
  }

  @include media-breakpoint-down(lg) {
    .info-input {
      &.add-row {
        margin-right: 0;
      }
    }
    .mr-adv-0 {
      margin-right: 0 !important;
    }

    .ml-adv-10 {
      margin-left: 10px !important;
    }
  }

  @include media-breakpoint-down(md) {
    .parcel-widget-botton-actions {
      flex-direction: column;

      >* {
        &:first-child {
          margin-bottom: 1rem;
        }
      }
    }
    &.theme-blue {
      &.with-menu {
        padding-left: 0 !important;
        padding-right: 0 !important;

        .parcel-widget-from-to {
          flex-direction: column;

          >* {
            &:first-child{
              margin-bottom: 1rem;
            }
          }
        }
  

        .details-list-container {
          .details-list-row {
            padding-top: 10px;
            padding-bottom: 60px;
            border-bottom: 1px solid $border-new;

            .info-input.add-row {
              transform: translateY(-20%) translateX(0);
            }

            .input-toggler {
              transform: translateY(-100%);

              &.offset-20 {
                bottom:-40px ;
              }
            }

            .details-back {
              top: 10px;
              right: 0;
            }
          }
        }
      }
    }
    .details-list-container {
      .details-list-row {
        flex-direction: column;

        .info-input {
          width: 100%;
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    padding: 20px 20px 18px 20px !important;

    .details-list-container {
      width: 100%;
    }

    &.theme-blue {
      &.with-menu {
        padding-left: 0 !important;
        padding-right: 0 !important;

        .row {
          margin: 0 !important;
        }
      }
    }

    > .row {
      margin: 0;
      margin-left: -15px;
      margin-right: -15px;
    }

    .info-input {
      width: 100%;
      margin-bottom: 10px;

      font-size: 0.8125rem;

      .info-input-more {
        margin-left: 0px;
        margin-bottom: 10px;
      }
    }

    .btn-dblue {
      width: 100%;
    }
  }
}
