.preset-icononlist {
  position: absolute;
  top: 6px;
  left: 0;
}

.preset-map {

  &.map {
    width: 800px;
    margin-top: 2rem;
  }
  

  @include media-breakpoint-down(md){
    &.map {
      width: 80vw;
    }
  }
}

.payment-table {
  width: 100%;
  color: $darker-gray;

  td{
    padding: .4rem 0;
  }
}

.confirmation-table {
  overflow: visible;
  color: $darker-gray;
  padding:2rem;
  margin: 0;

  .table-wrap {
    overflow: visible;

    table {
      overflow: visible;
      color: $darker-gray;

      .table-actions {
        pointer-events: none;
      }

      tr{
        &:hover{
          .table-actions {
            pointer-events: all;
          }
        }
      }
    }
  }

  @include media-breakpoint-down(md){
    overflow-x: auto;

    table {
      .table-actions {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

.preset-padding-4 {
  padding: 2rem;

  @include media-breakpoint-down(md){
    padding: 2rem 0rem;
  }
}

.preset-label-center {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: $input-height;
  font-weight: 500;

  @include media-breakpoint-down(md){
    justify-content: center;
  }
}