{% extends "structure/parcel-hero/_layout.njk" %}

{% block content %}

<section class="pt-4 pb-4 bg-cover-lg text-center triangle-down-big triangle-cover-lg">
  <h2 class="text-title-confirmation mb-3"><img class="mr-md-4 mr-2" src="../img/icons/icon-check.png" alt=""> Your parcel is booked!</h2>
  <div class="text-neutral-middle mb-2">Your shipment will be collected on <strong>Tuesday, 30 April, 2019</strong></div>
  <div class="text-neutral-small">A confirmation email has been sent to <strong>john.smith@gmail.com</strong></div>

  <div class="container mt-3">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="bg-white p-3 border">
          <div class="text-regular-primary text-center">Sign up & save on your next shipment</div>
          <div class="container-fluid mt-3">
            <div class="row justify-content-center">
              <div class="col-md-3 mb-md-0 mb-3 d-flex align-items-center justify-content-start fw-500"><img class="mr-2" src="../img/icons/icon-check-small.png" alt="">View order history</div>
              <div class="col-md-3 mb-md-0 mb-3 d-flex align-items-center justify-content-md-center justify-content-start fw-500"><img class="mr-2" src="../img/icons/icon-check-small.png" alt="">Checkout faster</div>
              <div class="col-md-3 mb-md-0 mb-3 d-flex align-items-center justify-content-md-end justify-content-start fw-500"><img class="mr-2" src="../img/icons/icon-check-small.png" alt="">Save up to 8%</div>
            </div>
          </div>
          <div class="container-fluid mt-4 mb-3">
            <div class="row justify-content-center">
              <div class="col-md-6 d-flex align-items-center justify-content-center">
                <div class="input-password w-100 mb-md-0 mb-3">
                  <input type="password" placeholder="Set a password" name="confirmation-password" class="form-control w-100 not-rounded dark-theme">
                  <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                </div>
              </div>
              <div class="col-md-3 d-flex align-items-center justify-content-center">
                <button class="btn btn-primary not-rounded w-100">SIGN UP</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-7 mb-md-0 mb-4">
        <div class="border p-4 border-success bw-2 h-100">
          <div class="text-title-secondary mb-4"><img src="../img/icons/printer-secusfull.png" class="mr-3" alt=""> Printing information</div>
          <div class="text-neutral-medium mb-2">1. Your shipping labels (x2)</div>
          <div class="mb-4 pl-4">Attach 1 label to the parcel, use tape and don't cover the barcode. Give the spare label to the driver.</div>
          <div class="text-neutral-medium mb-2">2. Customs documents (x5)</div>
          <div class="mb-5 pl-4">Attach 2 documents to the parcel using a documents pouch (the driver may be able to provide one). Give the spare documents to the driver.</div>
          <div class="d-md-flex d-block align-items-center">
            <button class="btn btn-primary w-100 w-md-0 not-rounded"><img class="mr-2" src="../img/icons/icon-printer-white.png" alt=""> PRINT DOCUMENTS</button>
            <a href="#" class="link-primary-spec text-center d-block ml-0 ml-md-4 mt-md-0 mt-4">Modify shipment</a>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="border p-4 border border-primary h-100 bw-2">
          <div class="text-title-dark mb-4"><img src="../img/icons/icon-info.png" class="mr-3" alt=""> Important information</div>
          <div class="mb-4 d-flex">
            <div class="pr-4">
              <img class="preset-icon-large" src="../img/icons/icon_parcel_open_check.svg" alt="">
            </div>
            <div>
              <div class="text-neutral-medium mb-2">Packaging</div>
              <div class="text-small mb-2">If your items are not packaged safely, you may not be entitled to claim in the event of damage.</div>
              <a class="link-primary-spec" href="#">Packing your items safely</a>
            </div>
          </div>
          <div class="mb-4 d-flex">
            <div class="pr-4">
              <img class="preset-icon-large" src="../img/icons/graphic_photo_box.svg" alt="">
            </div>
            <div>
              <div class="text-neutral-medium mb-2">Images</div>
              <div class="text-small mb-2">If your sending a bulky item, we recommend taking pictures of each side of the box (With shipping label in view), with a tape measure showing the dimensions. This can be used if the carrier audit differs from your declared dimensions.</div>
              <a class="link-primary-spec" href="#">Photographing your parcel</a>
            </div>
          </div>
          <div class="d-flex">
            <div class="pr-4">
              <img class="preset-icon-large" src="../img/icons/icon_warehouse.svg" alt="">
            </div>
            <div>
              <div class="text-neutral-medium mb-2">Haverhill sortation centre</div>
              <div class="text-small mb-2">Your items are travelling to our Haverhill sorting centre where they will be checked prior to export. This will not affect delivery date.</div>
              <a class="link-primary-spec" href="#">Why are my items going to Haverhill?</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block scripts %}
{% endblock %}