{# ===== Variables ===== #}
{% set pageTitle = 'ParcelHero: Order Summary' %}
{% set activeStep = 2 %}
{% set paymentMethods = [
  { icon: "credit-card", text: "Debit card" },
  { icon: "credit-card-black", text: "Credit card 2% surcharge" },
  { icon: "paypal", text: "PayPal 2% surcharge" },
  { icon: "wallet", text: "Login to use Wallet" }
] %}
{# === Variables end === #}

{# Macro for inserting inline svg icon from sprite #}
{% macro svgIcon(name, width='1em', height='1em') %}
  <svg width="{{width}}" height="{{height}}" class="inline-svg" aria-hidden="true">
    <use xlink:href="#{{name}}" />
  </svg>
{% endmacro %}

{% extends "structure/parcel-hero/_layout-checkout.njk" %}

{% block content %}
  {% include "../templates/modules/checkout/_checkout-sprite.njk" %}
  {% include "../templates/modules/checkout/_checkout-header.njk" %}

  <main class="bg-gray-light order-summary-main">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">

          <div class="block order-summary-block">

            <section class="order-section">
              <div class="block-title">
                <h2 class="text-medium-subtitle mb-0">Order summary</h2>
              </div>

              {# BLOCK: Shipment (single) #}
              <section class="shipment-group">
                <div class="shipment-group__header">
                  <div class="shipment-group__header-row">
                    <div class="shipment-group__delivery-company">
                      <img class="shipment-group__delivery-logo" src="img/icons/fedex-logo.png" alt="FedEx">
                    </div>
                    <h3 class="shipment-group__amount mb-0">
                      <span class="shipment-group__amount-count">1</span> shipment
                    </h3>
                  </div>
                </div>

                <div class="shipments-collection">
                  <div class="shipments-collection-header d-flex justify-content-between p-3">
                    <h4 class="text-sub-regular mb-0">Collection for <time>Wed, 22 Sep 18:00</time></h4>
                    <div class="amount text-sub-regular">£13.13</div>
                  </div>

                  <div class="shipments-collection-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="collection-detail">
                          <div class="collection-detail-label">Collect from</div>
                          <div class="collection-detail-value">
                            Earnest Scott<br>
                            ParcelHero<br>
                            6 Canute House,<br>
                            Durum Warf Drive,<br>
                            United Kingdom
                          </div>
                        </div>
                        <div class="collection-detail">
                          <div class="collection-detail-label">Description</div>
                          <div class="collection-detail-value">Kitchen accessories</div>
                        </div>
                        <div class="collection-detail">
                          <div class="collection-detail-label">Weight &amp; size</div>
                          <div class="collection-detail-value">
                            <ul class="collection-detail-parcels">
                              <li>
                                <span>1 parcel:</span> 
                                <span>43 x 31 x 16cm, 3.5kg</span>
                              </li>
                              <li>
                                <span>2 parcels:</span> 
                                <span>12 x 23 x 16cm, 3.1kg</span>
                              </li>
                              <li>
                                <span>1 parcel:</span> 
                                <span>43 x 31 x 16cm, 3.5kg</span>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="collection-detail">
                          <div class="collection-detail-label">Deliver to</div>
                          <div class="collection-detail-value">
                            John Smith<br>
                            Sky LTD<br>
                            32 London Road,<br>
                            Durum Warf Drive, Brentford, TW8 8H<br>
                            United Kingdom
                          </div>
                        </div>
                        <div class="collection-detail">
                          <div class="collection-detail-label">Delivered by</div>
                          <div class="collection-detail-value">
                            <div>
                              <time>Tue, 17 Sep</time>
                            </div>
                            <div>
                              <button type="button" class="btn btn-link collection-detail-btn-link">
                              {{ svgIcon("quick-delivery", 41, 28) }}
                              Need it quicker
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                

                  <div class="shipment-collection-controls d-flex justify-content-end pb-2">
                    <button type="button" class="btn btn-link collection-control-btn">
                      {{ svgIcon("pencil", 20, 20) }}
                      Edit
                    </button>
                    <button type="button" class="btn btn-link collection-control-btn">
                      {{ svgIcon("trash", 20, 22) }}
                      Delete
                    </button>
                  </div>
                </div>

                <div class="add-shipment pt-3 pb-3">
                  <button type="button" class="btn btn-outline-primary add-shipment-btn">Add shipment</button>
                </div>
              </section>

              {# BLOCk: Payment #}
              {# from here {% include "./payment.njk" %} #}

            </section>

            {# BLOCK: Your contact details #}
            <section class="shipment-contacts">
              <h2>Your details</h2>
              <p>We need to know who to contact if any issues occur.</p>
            </section>

            {# BLOCK: Payment method #}
            <section class="payment-method">
              <div class="payment-method__header">
                <div class="payment-method__row">
                  <h2>Payment method</h2>
                  <div class="payment-method__trusted-block">
                    <img src="img/icons/verisign-logo.png" class="payment-method__verisign-logo" alt="Verisign Trusted">
                  </div>
                </div>
                <h3>Total to pay: <span>£15.56</span>
              </div>
              <div class="payment-method__body">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="custom-checkbox">
                      <input type="checkbox" name="private-purchase-flag" id="private-purchase-flag">
                      <label for="private-purchase-flag">Private purchase<label>
                    </div>
                  </div>
                  <div class="col-sm-6 text-right">
                    <p>Pay Securely with
                      {# {% for card in ["visa", "mastercard", "amex", "paypal"] %}
                        <span>
                          <img src="img/{{card}}-logo.png" alt={{card}}>
                        </span>
                      {% endfor %} #}
                      <img src="img/icons/payments-methods.png" alt="Visa, Mastercard, American Express, PayPal">
                    </p>
                  </div>
                </div>

                <ul class="payment-methods-list">
                  {% for method in paymentMethods %}
                    <li class="payment-methods-list__item">
                      <div class="payment-radio">
                        <input type="radio" name="payment-method" id="payment-method-{{loop.index}}">
                        <label class="payment-radio__label" for="payment-method-{{loop.index}}">
                          {{ svgIcon(method.icon, 40, 32) }}
                          <span class="payment-radio__text">{{method.text}}<span>
                        </label>
                      <div class="payment-radio">
                    </li>
                  {% endfor %}
                </ul>

              </div>
              
            </section>

          </div>

        </div>
          
        <div class="col-lg-4">
          {% include "../templates/modules/checkout/_checkout-sidebar.njk" %}
        </div>
      </div>
    </div>
  </main>

{% endblock %}