{% extends "structure/parcel-hero/_layout-checkout.njk" %}

{% block content %}

<header class="header-account bg-white" id="main-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="logo-with-progress">
          <a href="./"><img src="img/ph_logo.svg" alt="parcel-logo" class='logo-img'></a>
          <div class="progress-tracker absolute-center">
            <div class="completed">
              <div><span>1</span><i class="icon-check"></i></div><span>Parcel details</span>
            </div>
            <div class="completed">
              <div><span>2</span><i class="icon-check"></i></div><span>Order summary</span>
            </div>
            <div class="current">
              <div><span>3</span><i class="icon-check"></i></div><span>Payment details</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="pt-g pb-g">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="block pt-3">
          <table class="payment-table border-bottom">
            <tbody>
              <tr>
                <td>Sub total</td>
                <td class="text-right">£13.13</td>
              </tr>
              <tr>
                <td>Wallet balance <span class="text-dark ml-1"><strong>Remove</strong></span></td>
                <td class="text-right">-£12.56</td>
              </tr>
              <tr>
                <td>VAT</td>
                <td class="text-right">£2.43</td>
              </tr>
              <tr class="text-neutral-medium text-dark">
                <td>TOTAL</td>
                <td class="text-right">£3.56</td>
              </tr>
            </tbody>
          </table>
          <div class="order-payment-promo pt-3 pb-3">
            <div class="collapse-toggler simple-primary text-right" data-toggle="collapse" data-target="#collapsePromo" aria-expanded="false" aria-controls="collapsePromo">Enter promo code <i class="fas fa-chevron-down ml-1"></i></div>
            <div class="collapse" id="collapsePromo">
              <form id="form-promocode" class="pt-2">
                <div class="form-row justify-content-end">
                  <div class="form-group col-sm-5 col-xl-4">
                    <label for="promocode" class="sr-only">enter your promocode</label>
                    <input type="text" id="promocode" autocomplete="new-promocode" placeholder="Enter promo code" name="promocode" class="form-control not-rounded dark-theme">
                  </div>
                  <div class="form-group col-sm-3 col-xl-2">
                    <button type="submit" class="form-control btn btn-outline-primary not-rounded btn-thick">Apply</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="mb-4">
            <div class="text-medium-m">Your details <i class="icon-help presset-icon-medium ml-2"></i></div>
            <p>We need to know who to contact if any issues occur.</p>
            <div class="text-small-gray">
              <label class="radio mt-4 mb-4">
                <input type="radio" value="0" name="radio-1" checked>
                <span class="checkmark"></span>
                I am the receiver: <strong class="ml-1">Peter Jones</strong>
              </label>
              <label class="radio mt-4 mb-4">
                <input type="radio" value="1" name="radio-1">
                <span class="checkmark"></span>
                I am the shipper: <strong class="ml-1">John Smith</strong>
              </label>
              <label class="radio mt-4 mb-4">
                <input type="radio" value="2" name="radio-1">
                <span class="checkmark"></span>
                Someone else
              </label>
            </div>
          </div>

          <div class="mb-4">
            {% include "modules/parcel-hero/_module-payment-method.njk" %}
          </div>
          
        </div>
      </div>
      <div class="col-lg-4">
        <div class="block pt-0 pb-0 mb-3">
          <div class="collapse-toggler simple disabled enabled-md" data-toggle="collapse" data-target="#collapseDtl" aria-expanded="true" aria-controls="collapseDtl">
            <h4 class="text-light-subtitle">Parcel details</h4><i class="fas fa-chevron-down d-block d-lg-none"></i>
          </div>
          <div class="collapse show" id="collapseDtl">
            <div class="border-bottom text-gray-darker">
              <div class="mb-2">1 x 1.5kg, 45cm x 16cm x 12cm</div>
              <div class="pb-3 border-bottom">To: United Kingdom</div>
              <div id="parcel-cost" class="text-gray-darker pt-3">
                <div class="fw-500">Billing summary</div>
                <div class="text-small d-flex justify-content-between pt-3 pb-3">
                  <span>Shipping costs</span>
                  <span>£<span id="parcel-shiping-cost">12.13</span></span>
                </div>
                <div class="text-small d-flex justify-content-between pb-3 border-bottom">
                  <span>VAT</span>
                  <span>£<span id="parcel-shiping-vat">2.43</span></span>
                </div>
                <div class="text-dark text-strong-title mb-0 d-flex justify-content-between pt-3 pb-3">
                  <span>TOTAL</span>
                  <span>£<span id="parcel-shiping-total">14.56</span></span>
                </div>
              </div>
            </div>
            <div class="mt-2 text-right pb-4">
              <span class="text-tiny mr-2">Pay Securely with</span><img src="./img/icons/payments-methods.png" alt="">
            </div>
          </div>
        </div>
        <button class="btn btn-block-blue mb-3" id="parcel-login"><i class="icon-login"></i> Book faster: Log in</button>

        {% include "modules/parcel-hero/_service-information.njk" %}

        <button class="btn btn-block-blue mb-3"><i class="icon-live-chat"></i>Live help</button>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block scripts %}
<script src='/js/parcel-hero/pages/payment.js'></script>
{% endblock %}