{% extends "structure/parcel-hero/_layout.njk" %}

{% block content %}

{% include "../templates/structure/parcel-hero/_breadcrumb.njk" %}

<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="parcel-widget-full content-padding mb-4">
        <div class="parcel-widget-full-title">
          <h2 class="text-title-white d-block" data-action-title="parcel">Send parcels worldwide from only £2.79</h2>
          <h2 class="text-title-white" data-action-title="document">Save with our <strong>document only</strong> services.</h2>
        </div>
        <div class="details-list with-menu theme-blue">
          <div class="nav nav-tabs">
            <div class="nav-link active" data-toggle="tab" href="#quotebox-3" role="tab" aria-controls="quotebox-3" aria-selected="true" data-action-ttitle="parcel">Parcels</div>
            <div class="nav-link" data-toggle="tab" href="#quotebox-4" role="tab" aria-controls="quotebox-4" aria-selected="false" data-action-ttitle="document">Documents</div>
          </div>
          <div class="tab-content">
            <div class="tab-pane details-list-section fade show active" id="quotebox-3">
              <form action="#" method="POST">
                <div class="row mt-4">
                  <div class="col-xl-5 pr-xl-0">
                    <div class="parcel-widget-from-to">
                      <div class="info-input w-100">
                        <div class="d-flex align-items-center">
                          <div class="info-input-label">
                            From:
                          </div>
                          <select class='form-control custom-picker theme-text' data-live-search="false" data-size="5" data-style="select-light" name="from">
                            <option value="Great Britain">Great Britain</option>
                            <option value="France">France</option>
                            <option value="Germany">Germany</option>
                          </select>
                        </div>
                        <div class="input-group">
                          <input type="text" class="form-control" tabindex="1" placeholder="Postcode (Optional)" name="from-post">
                        </div>
                      </div>
                      <div class="info-input w-100">
                        <div class="d-flex align-items-center">
                          <div class="info-input-label">
                            To:
                          </div>
                          <select class='form-control custom-picker theme-text' data-live-search="false" data-size="5" data-style="select-light" name="to">
                            <option value="Great Britain">Great Britain</option>
                            <option value="France" selected>France</option>
                            <option value="Germany">Germany</option>
                          </select>
                        </div>
                        <div class="input-group">
                          <input type="text" class="form-control" tabindex="1" placeholder="Postcode (Optional)" name="to-post">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-7 pl-xl-0 d-flex flex-wrap">
                    <div class="details-list-container">
                      <div class="details-list-row">
                        <div class="d-flex">
                          <div class="info-input wf-95 w-md-100">
                            <div class="info-input-label">
                              Quantity
                            </div>
                            <select class='form-control custom-picker' data-live-search="false" data-size="5" data-style="select-light" name="quantity[]">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                              <option value="6">6</option>
                              <option value="7">7</option>
                              <option value="8">8</option>
                              <option value="9">9</option>
                              <option value="10">10</option>
                              <option value="11">11</option>
                              <option value="12">12</option>
                              <option value="13">13</option>
                              <option value="14">14</option>
                              <option value="15">15</option>
                              <option value="16">16</option>
                              <option value="17">17</option>
                              <option value="18">18</option>
                              <option value="19">19</option>
                              <option value="20">20</option>
                              <option value="21">21</option>
                              <option value="22">22</option>
                              <option value="23">23</option>
                              <option value="24">24</option>
                              <option value="25">25</option>
                              <option value="26">26</option>
                              <option value="27">27</option>
                              <option value="28">28</option>
                              <option value="29">29</option>
                              <option value="30">30</option>
                              <option value="31">31</option>
                              <option value="32">32</option>
                              <option value="33">33</option>
                              <option value="34">34</option>
                              <option value="35">35</option>
                              <option value="36">36</option>
                              <option value="37">37</option>
                              <option value="38">38</option>
                              <option value="39">39</option>
                              <option value="40">40</option>
                              <option value="41">41</option>
                              <option value="42">42</option>
                              <option value="43">43</option>
                              <option value="44">44</option>
                              <option value="45">45</option>
                              <option value="46">46</option>
                              <option value="47">47</option>
                              <option value="48">48</option>
                              <option value="49">49</option>
                              <option value="50">50</option>
                            </select>
                          </div>

                          <div class="info-input wf-95 w-md-100 mr-adv-0">
                            <div class="info-input-label">
                              Weight
                            </div>
                            <div class="input-group">
                              <input type="number" class="form-control" data-pv-message="Please enter weight" tabindex="1" name="weight[]" data-action="focus-toggle">
                              <div class='input-measure'>
                                <p>kg</p><p>lb</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="d-flex justify-content-between d-none " data-action="volume-section">
                          <div class="info-input wf-95 w-md-100">
                            <div class="info-input-label">
                              Length
                            </div>
                            <div class="input-group">
                              <input type="number" class="form-control" data-pv-message="Please enter weight" tabindex="1" name="length[]"><input type="hidden" value="1" name="length_unit[]">
                              <div class='input-measure'>
                                <p>cm</p><p>in</p>
                              </div>
                            </div>
                          </div>

                          <div class="info-input wf-95 w-md-100">
                            <div class="info-input-label">
                              Width
                            </div>
                            <div class="input-group">
                              <input type="number" class="form-control" data-pv-message="Please enter weight" tabindex="1" name="width[]"><input type="hidden" value="1" name="width_unit[]">
                              <div class='input-measure'>
                                <p>cm</p><p>in</p>
                              </div>
                            </div>
                          </div>

                          <div class="info-input wf-95 w-md-100 mr-adv-0">
                            <div class="info-input-label">
                              Height
                            </div>
                            <div class="input-group">
                              <input type="number" class="form-control" data-pv-message="Please enter weight" tabindex="1" name="height[]"><input type="hidden" value="1" name="height_unit[]">
                              <div class='input-measure'>
                                <p>cm</p><p>in</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="input-toggler" data-action="target-toggler">
                          <select class='form-control custom-picker theme-text nound' data-live-search="false" data-size="5" data-style="select-light" name="unit[]" data-action="change-unit">
                            <option value="1">kg / cm</option>
                            <option value="2">lb / in</option>
                          </select>
                        </div>
                        <div class="info-input add-row">
                          <a href="javascript:void(0)" class='info-input-more'><i class="fa fa-plus-circle"></i></a>
                          <a href="javascript:void(0)" class='info-input-more remove'><i class="far fa-trash-alt"></i></a>
                        </div>
                      </div>
                    </div>
                    <div class=" ml-adv-10 d-none-md"><button class='btn not-rounded btn-orange mt-sp text-nowrap' data-action="quote-btn" type="submit">QUOTE ME <i class="ml-2 fas fa-chevron-right"></i></button></div>
                    <div class="w-100 mt-2 parcel-widget-botton-actions">
                      <button class="btn btn-ocean" data-action="add-row" type="button"><i class="icon-add-new"></i>Add parcel</button>
                      <button class='btn not-rounded btn-orange text-nowrap d-none d-block-md' data-action="quote-btn-additional" type="submit">QUOTE ME <i class="ml-2 fas fa-chevron-right"></i></button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="tab-pane details-list-section fade" id="quotebox-4">
              <form action="#" method="POST">
                <div class="row mt-4">
                  <div class="col-xl-5 pr-xl-0">
                    <div class="parcel-widget-from-to">
                      <div class="info-input w-100">
                        <div class="d-flex align-items-center">
                          <div class="info-input-label">
                            From:
                          </div>
                          <select class='form-control custom-picker theme-text' data-live-search="false" data-size="5" data-style="select-light" name="from">
                            <option value="Great Britain">Great Britain</option>
                            <option value="France">France</option>
                            <option value="Germany">Germany</option>
                          </select>
                        </div>
                        <div class="input-group">
                          <input type="text" class="form-control" tabindex="1" placeholder="Postcode (Optional)" name="from-post">
                        </div>
                      </div>
                      <div class="info-input w-100">
                        <div class="d-flex align-items-center">
                          <div class="info-input-label">
                            To:
                          </div>
                          <select class='form-control custom-picker theme-text' data-live-search="false" data-size="5" data-style="select-light" name="to">
                            <option value="Great Britain">Great Britain</option>
                            <option value="France" selected>France</option>
                            <option value="Germany">Germany</option>
                          </select>
                        </div>
                        <div class="input-group">
                          <input type="text" class="form-control" tabindex="1" placeholder="Postcode (Optional)" name="to-post">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-7 pl-xl-0 d-flex flex-wrap">
                    <div class="details-list-container">
                      <div class="details-list-row">
                        <div class="d-xl-flex d-block d-none w-100" data-action="custom-size-inputs">
                          <div class="d-flex">
                            <div class="info-input wf-95 w-md-100">
                              <div class="info-input-label">
                                Quantity
                              </div>
                              <select class='form-control custom-picker' data-live-search="false" data-size="5" data-style="select-light" name="quantity[]">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                                <option value="32">32</option>
                                <option value="33">33</option>
                                <option value="34">34</option>
                                <option value="35">35</option>
                                <option value="36">36</option>
                                <option value="37">37</option>
                                <option value="38">38</option>
                                <option value="39">39</option>
                                <option value="40">40</option>
                                <option value="41">41</option>
                                <option value="42">42</option>
                                <option value="43">43</option>
                                <option value="44">44</option>
                                <option value="45">45</option>
                                <option value="46">46</option>
                                <option value="47">47</option>
                                <option value="48">48</option>
                                <option value="49">49</option>
                                <option value="50">50</option>
                              </select>
                            </div>

                            <div class="info-input wf-95 w-md-100 mr-adv-0">
                              <div class="info-input-label">
                                Weight
                              </div>
                              <div class="input-group">
                                <input type="number" class="form-control" data-pv-message="Please enter weight" tabindex="1" name="weight[]"><input type="hidden" value="1" name="weight_unit[]">
                                <div class='input-measure'>
                                  <p>kg</p><p>lb</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="d-flex justify-content-between" data-action="volume-section">
                            <div class="info-input wf-95 w-md-100">
                              <div class="info-input-label">
                                Length
                              </div>
                              <div class="input-group">
                                <input type="number" class="form-control" data-pv-message="Please enter weight" tabindex="1" name="length[]"><input type="hidden" value="1" name="length_unit[]">
                                <div class='input-measure'>
                                  <p>cm</p><p>in</p>
                                </div>
                              </div>
                            </div>

                            <div class="info-input wf-95 w-md-100">
                              <div class="info-input-label">
                                Width
                              </div>
                              <div class="input-group">
                                <input type="number" class="form-control" data-pv-message="Please enter weight" tabindex="1" name="width[]"><input type="hidden" value="1" name="width_unit[]">
                                <div class='input-measure'>
                                  <p>cm</p><p>in</p>
                                </div>
                              </div>
                            </div>

                            <div class="info-input wf-95 w-md-100 mr-adv-0">
                              <div class="info-input-label">
                                Height
                              </div>
                              <div class="input-group">
                                <input type="number" class="form-control" data-pv-message="Please enter weight" tabindex="1" name="height[]"><input type="hidden" value="1" name="height_unit[]">
                                <div class='input-measure'>
                                  <p>cm</p><p>in</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="details-back" data-action="sizes-back"><i class="fas fa-arrow-circle-left"></i></div>
                        </div>
                        <div class=" w-md-100" data-action="size-selector">
                          <div class="info-input wf-300 w-md-100 mr-adv-0">
                            <div class="info-input-label">
                              Document type
                            </div>
                            <select class='form-control custom-picker' data-live-search="false" name="document-size" data-size="5" data-style="select-light" name="document-type" data-action="custom-size">
                              <option value="A4 envelope">A4 envelope (30.3 x 40.6cm)</option>
                              <option value="A5 envelope">A5 envelope (21cm x 14.8cm)</option>
                              <option value="Custom size">Custom size</option>
                            </select>
                          </div>
                        </div>
                        <div class="input-toggler d-none" data-action="target-toggler">
                          <select class='form-control custom-picker theme-text nound' data-live-search="false" data-size="5" data-style="select-light" name="unit[]" data-action="change-unit">
                            <option value="1">kg / cm</option>
                            <option value="2">lb / in</option>
                          </select>
                        </div>
                        <div class="info-input add-row">
                          <a href="javascript:void(0)" class='info-input-more'><i class="fa fa-plus-circle"></i></a>
                          <a href="javascript:void(0)" class='info-input-more remove'><i class="far fa-trash-alt"></i></a>
                        </div>
                      </div>
                    </div>
                    <div class=" ml-adv-10 d-none-md"><button class='btn not-rounded btn-orange mt-sp text-nowrap' data-action="quote-btn">QUOTE ME <i class="ml-2 fas fa-chevron-right"></i></button></div>
                    <div class="w-100 mt-2 parcel-widget-botton-actions">
                      <button class="btn btn-ocean" data-action="add-row" type="button"><i class="icon-add-new"></i>Add parcel</button>
                      <button class='btn not-rounded btn-orange text-nowrap d-none d-block-md' data-action="quote-btn-additional">QUOTE ME <i class="ml-2 fas fa-chevron-right"></i></button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="parcel-widget-full content-padding mb-4">
        <div class="parcel-widget-full-title">
          <h2 class="text-title-white d-block" data-action-title="parcel">Send parcels worldwide from only £2.79</h2>
          <h2 class="text-title-white" data-action-title="document">Save with our <strong>document only</strong> services.</h2>
        </div>
        <div class="details-list with-menu theme-blue">
          <div class="nav nav-tabs">
            <div class="nav-link active" data-toggle="tab" href="#quotebox-5" role="tab" aria-controls="quotebox-3" aria-selected="true" data-action-ttitle="parcel">Parcels</div>
            <div class="nav-link" data-toggle="tab" href="#quotebox-6" role="tab" aria-controls="quotebox-4" aria-selected="false" data-action-ttitle="document">Documents</div>
          </div>
          <div class="tab-content">
            <div class="tab-pane details-list-section fade show active" id="quotebox-5">
              <form action="#" method="POST">
                <div class="row mt-4 mb-0">
                  <div class="col-xl-5">
                    <div class="parcel-widget-from-to">
                      <div class="info-input w-100">
                        <div class="d-flex align-items-center">
                          <div class="info-input-label">
                            From:
                          </div>
                          <select class='form-control custom-picker theme-text' data-live-search="false" data-size="5" data-style="select-light" name="from">
                            <option value="Great Britain">Great Britain</option>
                            <option value="France">France</option>
                            <option value="Germany">Germany</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-1">
                  <div class="col-xl-3 pr-xl-0">
                    <div class="parcel-widget-from-to">
                      <div class="info-input w-100">
                        <div class="d-flex align-items-center">
                          <div class="info-input-label">
                            To:
                          </div>
                          <select class='form-control custom-picker theme-text' data-live-search="false" data-size="5" data-style="select-light" name="to">
                            <option value="Great Britain">Great Britain</option>
                            <option value="France" selected>France</option>
                            <option value="Germany">Germany</option>
                          </select>
                        </div>
                        <div class="input-group">
                          <select class='form-control custom-picker' data-live-search="false" data-size="5" data-style="select-light" name="to-postal">
                            <option value="EC3 1RJ">EC3 1RJ</option>
                            <option value="EC3 1RJ">EC3 1RJ</option>
                            <option value="EC3 1RJ">EC3 1RJ</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-9 pl-xl-0 d-flex flex-wrap">
                    <div class="details-list-container">
                      <div class="details-list-row">
                        <div class="w-md-100 d-flex">
                          <div class="info-input wf-95 w-md-100">
                            <div class="info-input-label">
                              Quantity
                            </div>
                            <select class='form-control custom-picker' data-live-search="false" data-size="5" data-style="select-light" name="quantity[]">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                              <option value="6">6</option>
                              <option value="7">7</option>
                              <option value="8">8</option>
                              <option value="9">9</option>
                              <option value="10">10</option>
                              <option value="11">11</option>
                              <option value="12">12</option>
                              <option value="13">13</option>
                              <option value="14">14</option>
                              <option value="15">15</option>
                              <option value="16">16</option>
                              <option value="17">17</option>
                              <option value="18">18</option>
                              <option value="19">19</option>
                              <option value="20">20</option>
                              <option value="21">21</option>
                              <option value="22">22</option>
                              <option value="23">23</option>
                              <option value="24">24</option>
                              <option value="25">25</option>
                              <option value="26">26</option>
                              <option value="27">27</option>
                              <option value="28">28</option>
                              <option value="29">29</option>
                              <option value="30">30</option>
                              <option value="31">31</option>
                              <option value="32">32</option>
                              <option value="33">33</option>
                              <option value="34">34</option>
                              <option value="35">35</option>
                              <option value="36">36</option>
                              <option value="37">37</option>
                              <option value="38">38</option>
                              <option value="39">39</option>
                              <option value="40">40</option>
                              <option value="41">41</option>
                              <option value="42">42</option>
                              <option value="43">43</option>
                              <option value="44">44</option>
                              <option value="45">45</option>
                              <option value="46">46</option>
                              <option value="47">47</option>
                              <option value="48">48</option>
                              <option value="49">49</option>
                              <option value="50">50</option>
                            </select>
                          </div>

                          <div class="info-input wf-95 w-md-100 mr-adv-0">
                            <div class="info-input-label">
                              Weight
                            </div>
                            <div class="input-group">
                              <input type="number" class="form-control" data-pv-message="Please enter weight" tabindex="1" name="weight[]"><input type="hidden" value="1" name="weight_unit[]">
                              <div class='input-measure'>
                                <p>kg</p><p>lb</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="d-flex justify-content-between d-none position-relative" data-action="custom-size-inputs">
                          <div class="info-input wf-95 w-md-100">
                            <div class="info-input-label">
                              Length
                            </div>
                            <div class="input-group">
                              <input type="number" class="form-control" data-pv-message="Please enter weight" tabindex="1" name="length[]"><input type="hidden" value="1" name="length_unit[]">
                              <div class='input-measure'>
                                <p>cm</p><p>in</p>
                              </div>
                            </div>
                          </div>

                          <div class="info-input wf-95 w-md-100">
                            <div class="info-input-label">
                              Width
                            </div>
                            <div class="input-group">
                              <input type="number" class="form-control" data-pv-message="Please enter weight" tabindex="1" name="width[]"><input type="hidden" value="1" name="width_unit[]">
                              <div class='input-measure'>
                                <p>cm</p><p>in</p>
                              </div>
                            </div>
                          </div>

                          <div class="info-input wf-95 w-md-100 mr-adv-0">
                            <div class="info-input-label">
                              Height
                            </div>
                            <div class="input-group">
                              <input type="number" class="form-control" data-pv-message="Please enter weight" tabindex="1" name="height[]"><input type="hidden" value="1" name="height_unit[]">
                              <div class='input-measure'>
                                <p>cm</p><p>in</p>
                              </div>
                            </div>
                          </div>
                          <div class="details-back" data-action="sizes-back"><i class="fas fa-arrow-circle-left"></i></div>
                        </div>
                        <div class=" w-md-100" data-action="size-selector">
                          <div class="info-input wf-200 w-md-100  mr-adv-0">
                            <div class="info-input-label">
                              Package type
                            </div>
                            <select class='form-control custom-picker' data-live-search="false" name="parcel-size" data-size="5" data-style="select-light" name="document-type" data-action="custom-size">
                              <option value="Small box G4">Small box G4 (45 x 35 x 16cm)</option>
                              <option value="Custom size">Custom size</option>
                            </select>
                          </div>
                        </div>
                        <div class="info-input wf-100 w-md-100  mr-adv-0">
                          <div class="info-input-label">
                            Service type
                          </div>
                          <select class='form-control custom-picker' data-live-search="false" name="service-type" data-size="5" data-style="select-light" name="document-type">
                            <option value="Small box G4">Express</option>
                            <option value="Custom size">Regular</option>
                          </select>
                        </div>
                        <div class="info-input add-row">
                          <a href="javascript:void(0)" class='info-input-more'><i class="fa fa-plus-circle"></i></a>
                          <a href="javascript:void(0)" class='info-input-more remove'><i class="far fa-trash-alt"></i></a>
                        </div>
                      </div>
                    </div>
                    <div class=" ml-adv-10 d-none-md"><button class='btn not-rounded btn-orange mt-sp text-nowrap' data-action="quote-btn" type="submit">QUOTE ME <i class="ml-2 fas fa-chevron-right"></i></button></div>
                    <div class="w-100 mt-2 parcel-widget-botton-actions">
                      <button class="btn btn-ocean" data-action="add-row" type="button"><i class="icon-add-new"></i>Add parcel</button>
                      <button class='btn not-rounded btn-orange text-nowrap d-none d-block-md mr-5' data-action="quote-btn-additional" type="submit">QUOTE ME <i class="ml-2 fas fa-chevron-right"></i></button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="tab-pane details-list-section fade" id="quotebox-6">
              <form action="#" method="POST">
                <div class="row mt-4">
                  <div class="col-md-12">
                    <div class="mb-4">Get savings on delivery rates with our document only services.</div>
                  </div>
                  <div class="col-xl-5 pr-xl-0">
                    <div class="parcel-widget-from-to">
                      <div class="info-input w-100">
                        <div class="d-flex align-items-center">
                          <div class="info-input-label">
                            From:
                          </div>
                          <select class='form-control custom-picker theme-text' data-live-search="false" data-size="5" data-style="select-light" name="from">
                            <option value="Great Britain">Great Britain</option>
                            <option value="France">France</option>
                            <option value="Germany">Germany</option>
                          </select>
                        </div>
                        <div class="input-group">
                          <input type="text" class="form-control" tabindex="1" placeholder="Postcode (Optional)" name="from-post">
                        </div>
                      </div>
                      <div class="info-input w-100">
                        <div class="d-flex align-items-center">
                          <div class="info-input-label">
                            To:
                          </div>
                          <select class='form-control custom-picker theme-text' data-live-search="false" data-size="5" data-style="select-light" name="to">
                            <option value="Great Britain">Great Britain</option>
                            <option value="France" selected>France</option>
                            <option value="Germany">Germany</option>
                          </select>
                        </div>
                        <div class="input-group">
                          <input type="text" class="form-control" tabindex="1" placeholder="Postcode (Optional)" name="to-post">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-7 pl-xl-0 d-flex flex-wrap">
                    <div class="details-list-container">
                      <div class="details-list-row">
                        <div class="d-xl-flex d-block d-none w-100" data-action="custom-size-inputs">
                          <div class="d-flex">
                            <div class="info-input wf-95 w-md-100">
                              <div class="info-input-label">
                                Quantity
                              </div>
                              <select class='form-control custom-picker' data-live-search="false" data-size="5" data-style="select-light" name="quantity[]">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                                <option value="32">32</option>
                                <option value="33">33</option>
                                <option value="34">34</option>
                                <option value="35">35</option>
                                <option value="36">36</option>
                                <option value="37">37</option>
                                <option value="38">38</option>
                                <option value="39">39</option>
                                <option value="40">40</option>
                                <option value="41">41</option>
                                <option value="42">42</option>
                                <option value="43">43</option>
                                <option value="44">44</option>
                                <option value="45">45</option>
                                <option value="46">46</option>
                                <option value="47">47</option>
                                <option value="48">48</option>
                                <option value="49">49</option>
                                <option value="50">50</option>
                              </select>
                            </div>

                            <div class="info-input wf-95 w-md-100 mr-adv-0">
                              <div class="info-input-label">
                                Weight
                              </div>
                              <div class="input-group">
                                <input type="number" class="form-control" data-pv-message="Please enter weight" tabindex="1" name="weight[]"><input type="hidden" value="1" name="weight_unit[]">
                                <div class='input-measure'>
                                  <p>kg</p><p>lb</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="d-flex justify-content-between" data-action="volume-section">
                            <div class="info-input wf-95 w-md-100">
                              <div class="info-input-label">
                                Length
                              </div>
                              <div class="input-group">
                                <input type="number" class="form-control" data-pv-message="Please enter weight" tabindex="1" name="length[]"><input type="hidden" value="1" name="length_unit[]">
                                <div class='input-measure'>
                                  <p>cm</p><p>in</p>
                                </div>
                              </div>
                            </div>

                            <div class="info-input wf-95 w-md-100">
                              <div class="info-input-label">
                                Width
                              </div>
                              <div class="input-group">
                                <input type="number" class="form-control" data-pv-message="Please enter weight" tabindex="1" name="width[]"><input type="hidden" value="1" name="width_unit[]">
                                <div class='input-measure'>
                                  <p>cm</p><p>in</p>
                                </div>
                              </div>
                            </div>

                            <div class="info-input wf-95 w-md-100 mr-adv-0">
                              <div class="info-input-label">
                                Height
                              </div>
                              <div class="input-group">
                                <input type="number" class="form-control" data-pv-message="Please enter weight" tabindex="1" name="height[]"><input type="hidden" value="1" name="height_unit[]">
                                <div class='input-measure'>
                                  <p>cm</p><p>in</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="details-back" data-action="sizes-back"><i class="fas fa-arrow-circle-left"></i></div>
                        </div>
                        <div class=" w-md-100" data-action="size-selector">
                          <div class="info-input wf-300 w-md-100 mr-adv-0">
                            <div class="info-input-label">
                              Document type
                            </div>
                            <select class='form-control custom-picker' data-live-search="false" name="document-size" data-size="5" data-style="select-light" name="document-type" data-action="custom-size">
                              <option value="A4 envelope">A4 envelope (30.3 x 40.6cm)</option>
                              <option value="A5 envelope">A5 envelope (21cm x 14.8cm)</option>
                              <option value="Custom size">Custom size</option>
                            </select>
                          </div>
                        </div>
                        <div class="input-toggler d-none" data-action="target-toggler">
                          <select class='form-control custom-picker theme-text nound' data-live-search="false" data-size="5" data-style="select-light" name="unit[]" data-action="change-unit">
                            <option value="1">kg / cm</option>
                            <option value="2">lb / in</option>
                          </select>
                        </div>
                        <div class="info-input add-row">
                          <a href="javascript:void(0)" class='info-input-more'><i class="fa fa-plus-circle"></i></a>
                          <a href="javascript:void(0)" class='info-input-more remove'><i class="far fa-trash-alt"></i></a>
                        </div>
                      </div>
                    </div>
                    <div class=" ml-adv-10 d-none-md"><button class='btn not-rounded btn-orange mt-sp text-nowrap' data-action="quote-btn">QUOTE ME <i class="ml-2 fas fa-chevron-right"></i></button></div>
                    <div class="w-100 mt-2 parcel-widget-botton-actions">
                      <button class="btn btn-ocean" data-action="add-row" type="button"><i class="icon-add-new"></i>Add parcel</button>
                      <button class='btn not-rounded btn-orange text-nowrap d-none d-block-md' data-action="quote-btn-additional">QUOTE ME <i class="ml-2 fas fa-chevron-right"></i></button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="parcel-widget-full content-padding mb-4">
        <div class="parcel-widget-full-title">
          <h2 class="text-title-white d-block" data-action-title="parcel">Send parcels worldwide from only £2.79</h2>
          <h2 class="text-title-white" data-action-title="document">Save with our <strong>document only</strong> services.</h2>
        </div>
        <div class="details-list with-menu theme-blue">
          <div class="nav nav-tabs">
            <div class="nav-link active" data-toggle="tab" href="#quotebox-7" role="tab" aria-controls="quotebox-3" aria-selected="true" data-action-ttitle="parcel">Parcels</div>
            <div class="nav-link" data-toggle="tab" href="#quotebox-8" role="tab" aria-controls="quotebox-4" aria-selected="false" data-action-ttitle="document">Documents</div>
          </div>
          <div class="tab-content">
            <div class="tab-pane details-list-section fade show active" id="quotebox-7">
              <form action="#" method="POST">
                <div class="row mt-4 mb-0">
                  <div class="col-xl-5">
                    <div class="parcel-widget-from-to">
                      <div class="info-input w-100">
                        <div class="d-flex align-items-center">
                          <div class="info-input-label">
                            From:
                          </div>
                          <select class='form-control custom-picker theme-text' data-live-search="false" data-size="5" data-style="select-light" name="from">
                            <option value="Great Britain">Great Britain</option>
                            <option value="France">France</option>
                            <option value="Germany">Germany</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-1">
                  <div class="col-xl-3 pr-xl-0">
                    <div class="parcel-widget-from-to">
                      <div class="info-input w-100">
                        <div class="d-flex align-items-center">
                          <div class="info-input-label">
                            To:
                          </div>
                          <select class='form-control custom-picker theme-text' data-live-search="false" data-size="5" data-style="select-light" name="to">
                            <option value="Great Britain">Great Britain</option>
                            <option value="France" selected>France</option>
                            <option value="Germany">Germany</option>
                          </select>
                        </div>
                        <div class="input-group">
                          <select class='form-control custom-picker' data-live-search="false" data-size="5" data-style="select-light" name="to-postal">
                            <option value="EC3 1RJ">EC3 1RJ</option>
                            <option value="EC3 1RJ">EC3 1RJ</option>
                            <option value="EC3 1RJ">EC3 1RJ</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-9 pl-xl-0 d-flex flex-wrap">
                    <div class="details-list-container">
                      <div class="details-list-row">
                        <div class="details-list-area">
                          <div class="w-md-100 d-flex">
                            <div class="info-input wf-95 w-md-100">
                              <div class="info-input-label">
                                Quantity
                              </div>
                              <select class='form-control custom-picker' data-live-search="false" data-size="5" data-style="select-light" name="quantity[]">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                                <option value="32">32</option>
                                <option value="33">33</option>
                                <option value="34">34</option>
                                <option value="35">35</option>
                                <option value="36">36</option>
                                <option value="37">37</option>
                                <option value="38">38</option>
                                <option value="39">39</option>
                                <option value="40">40</option>
                                <option value="41">41</option>
                                <option value="42">42</option>
                                <option value="43">43</option>
                                <option value="44">44</option>
                                <option value="45">45</option>
                                <option value="46">46</option>
                                <option value="47">47</option>
                                <option value="48">48</option>
                                <option value="49">49</option>
                                <option value="50">50</option>
                              </select>
                            </div>

                            <div class="info-input wf-95 w-md-100 mr-adv-0">
                              <div class="info-input-label">
                                Weight
                              </div>
                              <div class="input-group">
                                <input type="number" class="form-control" data-pv-message="Please enter weight" tabindex="1" name="weight[]" data-action="focus-toggle">
                                <div class='input-measure'>
                                  <p>kg</p><p>lb</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="d-flex justify-content-between d-none position-relative" data-action="volume-section">
                            <div class="info-input wf-95 w-md-100">
                              <div class="info-input-label">
                                Length
                              </div>
                              <div class="input-group">
                                <input type="number" class="form-control" data-pv-message="Please enter weight" tabindex="1" name="length[]"><input type="hidden" value="1" name="length_unit[]">
                                <div class='input-measure'>
                                  <p>cm</p><p>in</p>
                                </div>
                              </div>
                            </div>

                            <div class="info-input wf-95 w-md-100">
                              <div class="info-input-label">
                                Width
                              </div>
                              <div class="input-group">
                                <input type="number" class="form-control" data-pv-message="Please enter weight" tabindex="1" name="width[]"><input type="hidden" value="1" name="width_unit[]">
                                <div class='input-measure'>
                                  <p>cm</p><p>in</p>
                                </div>
                              </div>
                            </div>

                            <div class="info-input wf-95 w-md-100 mr-adv-0">
                              <div class="info-input-label">
                                Height
                              </div>
                              <div class="input-group">
                                <input type="number" class="form-control" data-pv-message="Please enter weight" tabindex="1" name="height[]"><input type="hidden" value="1" name="height_unit[]">
                                <div class='input-measure'>
                                  <p>cm</p><p>in</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="input-toggler offset-20" data-action="target-toggler">
                            <select class='form-control custom-picker theme-text nound' data-live-search="false" data-size="5" data-style="select-light" name="unit[]" data-action="change-unit">
                              <option value="1">kg / cm</option>
                              <option value="2">lb / in</option>
                            </select>
                          </div>
                        </div>
                        <div class="info-input wf-100 w-md-100  mr-adv-0">
                          <div class="info-input-label">
                            Service type
                          </div>
                          <select class='form-control custom-picker' data-live-search="false" name="service-type" data-size="5" data-style="select-light" name="document-type">
                            <option value="Small box G4">Express</option>
                            <option value="Custom size">Regular</option>
                          </select>
                        </div>
                        <div class="info-input add-row">
                          <a href="javascript:void(0)" class='info-input-more'><i class="fa fa-plus-circle"></i></a>
                          <a href="javascript:void(0)" class='info-input-more remove'><i class="far fa-trash-alt"></i></a>
                        </div>
                      </div>
                    </div>
                    <div class=" ml-adv-10 d-none-md"><button class='btn not-rounded btn-orange mt-sp text-nowrap' data-action="quote-btn" type="submit">QUOTE ME <i class="ml-2 fas fa-chevron-right"></i></button></div>
                    <div class="w-100 mt-2 parcel-widget-botton-actions">
                      <button class="btn btn-ocean" data-action="add-row" type="button"><i class="icon-add-new"></i>Add parcel</button>
                      <button class='btn not-rounded btn-orange text-nowrap d-none d-block-md mr-5' data-action="quote-btn-additional" type="submit">QUOTE ME <i class="ml-2 fas fa-chevron-right"></i></button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="tab-pane details-list-section fade" id="quotebox-8">
              <form action="#" method="POST">
                <div class="row mt-4">
                  <div class="col-md-12">
                    <div class="mb-4">Get savings on delivery rates with our document only services.</div>
                  </div>
                  <div class="col-xl-5 pr-xl-0">
                    <div class="parcel-widget-from-to">
                      <div class="info-input w-100">
                        <div class="d-flex align-items-center">
                          <div class="info-input-label">
                            From:
                          </div>
                          <select class='form-control custom-picker theme-text' data-live-search="false" data-size="5" data-style="select-light" name="from">
                            <option value="Great Britain">Great Britain</option>
                            <option value="France">France</option>
                            <option value="Germany">Germany</option>
                          </select>
                        </div>
                        <div class="input-group">
                          <input type="text" class="form-control" tabindex="1" placeholder="Postcode (Optional)" name="from-post">
                        </div>
                      </div>
                      <div class="info-input w-100">
                        <div class="d-flex align-items-center">
                          <div class="info-input-label">
                            To:
                          </div>
                          <select class='form-control custom-picker theme-text' data-live-search="false" data-size="5" data-style="select-light" name="to">
                            <option value="Great Britain">Great Britain</option>
                            <option value="France" selected>France</option>
                            <option value="Germany">Germany</option>
                          </select>
                        </div>
                        <div class="input-group">
                          <input type="text" class="form-control" tabindex="1" placeholder="Postcode (Optional)" name="to-post">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-7 pl-xl-0 d-flex flex-wrap">
                    <div class="details-list-container">
                      <div class="details-list-row">
                        <div class="d-xl-flex d-block d-none w-100" data-action="custom-size-inputs">
                          <div class="d-flex">
                            <div class="info-input wf-95 w-md-100">
                              <div class="info-input-label">
                                Quantity
                              </div>
                              <select class='form-control custom-picker' data-live-search="false" data-size="5" data-style="select-light" name="quantity[]">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                                <option value="32">32</option>
                                <option value="33">33</option>
                                <option value="34">34</option>
                                <option value="35">35</option>
                                <option value="36">36</option>
                                <option value="37">37</option>
                                <option value="38">38</option>
                                <option value="39">39</option>
                                <option value="40">40</option>
                                <option value="41">41</option>
                                <option value="42">42</option>
                                <option value="43">43</option>
                                <option value="44">44</option>
                                <option value="45">45</option>
                                <option value="46">46</option>
                                <option value="47">47</option>
                                <option value="48">48</option>
                                <option value="49">49</option>
                                <option value="50">50</option>
                              </select>
                            </div>

                            <div class="info-input wf-95 w-md-100 mr-adv-0">
                              <div class="info-input-label">
                                Weight
                              </div>
                              <div class="input-group">
                                <input type="number" class="form-control" data-pv-message="Please enter weight" tabindex="1" name="weight[]"><input type="hidden" value="1" name="weight_unit[]">
                                <div class='input-measure'>
                                  <p>kg</p><p>lb</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="d-flex justify-content-between" data-action="volume-section">
                            <div class="info-input wf-95 w-md-100">
                              <div class="info-input-label">
                                Length
                              </div>
                              <div class="input-group">
                                <input type="number" class="form-control" data-pv-message="Please enter weight" tabindex="1" name="length[]"><input type="hidden" value="1" name="length_unit[]">
                                <div class='input-measure'>
                                  <p>cm</p><p>in</p>
                                </div>
                              </div>
                            </div>

                            <div class="info-input wf-95 w-md-100">
                              <div class="info-input-label">
                                Width
                              </div>
                              <div class="input-group">
                                <input type="number" class="form-control" data-pv-message="Please enter weight" tabindex="1" name="width[]"><input type="hidden" value="1" name="width_unit[]">
                                <div class='input-measure'>
                                  <p>cm</p><p>in</p>
                                </div>
                              </div>
                            </div>

                            <div class="info-input wf-95 w-md-100 mr-adv-0">
                              <div class="info-input-label">
                                Height
                              </div>
                              <div class="input-group">
                                <input type="number" class="form-control" data-pv-message="Please enter weight" tabindex="1" name="height[]"><input type="hidden" value="1" name="height_unit[]">
                                <div class='input-measure'>
                                  <p>cm</p><p>in</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="details-back" data-action="sizes-back"><i class="fas fa-arrow-circle-left"></i></div>
                        </div>
                        <div class=" w-md-100" data-action="size-selector">
                          <div class="info-input wf-300 w-md-100 mr-adv-0">
                            <div class="info-input-label">
                              Document type
                            </div>
                            <select class='form-control custom-picker' data-live-search="false" name="document-size" data-size="5" data-style="select-light" name="document-type" data-action="custom-size">
                              <option value="A4 envelope">A4 envelope (30.3 x 40.6cm)</option>
                              <option value="A5 envelope">A5 envelope (21cm x 14.8cm)</option>
                              <option value="Custom size">Custom size</option>
                            </select>
                          </div>
                        </div>
                        <div class="input-toggler d-none" data-action="target-toggler">
                          <select class='form-control custom-picker theme-text nound' data-live-search="false" data-size="5" data-style="select-light" name="unit[]" data-action="change-unit">
                            <option value="1">kg / cm</option>
                            <option value="2">lb / in</option>
                          </select>
                        </div>
                        <div class="info-input add-row">
                          <a href="javascript:void(0)" class='info-input-more'><i class="fa fa-plus-circle"></i></a>
                          <a href="javascript:void(0)" class='info-input-more remove'><i class="far fa-trash-alt"></i></a>
                        </div>
                      </div>
                    </div>
                    <div class=" ml-adv-10 d-none-md"><button class='btn not-rounded btn-orange mt-sp text-nowrap' data-action="quote-btn">QUOTE ME <i class="ml-2 fas fa-chevron-right"></i></button></div>
                    <div class="w-100 mt-2 parcel-widget-botton-actions">
                      <button class="btn btn-ocean" data-action="add-row" type="button"><i class="icon-add-new"></i>Add parcel</button>
                      <button class='btn not-rounded btn-orange text-nowrap d-none d-block-md' data-action="quote-btn-additional">QUOTE ME <i class="ml-2 fas fa-chevron-right"></i></button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="parcel-widget-full content-padding mb-4">
        <div class="parcel-widget-full-title">
          <h2 class="text-title-white d-block" data-action-title="parcel">Send parcels worldwide from only £2.79</h2>
          <h2 class="text-title-white" data-action-title="document">Save with our <strong>document only</strong> services.</h2>
        </div>
        <div class="details-list with-menu theme-blue">
          <div class="nav nav-tabs">
            <div class="nav-link active" data-toggle="tab" href="#quotebox-9" role="tab" aria-controls="quotebox-3" aria-selected="true" data-action-ttitle="parcel">Parcels</div>
            <div class="nav-link" data-toggle="tab" href="#quotebox-10" role="tab" aria-controls="quotebox-4" aria-selected="false" data-action-ttitle="document">Documents</div>
          </div>
          <div class="tab-content">
            <div class="tab-pane details-list-section fade show active" id="quotebox-9">
              <form action="#" method="POST">
                <div class="row mt-4">
                  <div class="col-xl-5 pr-xl-0">
                    <div class="parcel-widget-from-to">
                      <div class="info-input w-100">
                        <div class="d-flex align-items-center">
                          <div class="info-input-label">
                            From:
                          </div>
                          <select class='form-control custom-picker theme-text' data-live-search="false" data-size="5" data-style="select-light" name="from">
                            <option value="Great Britain">Great Britain</option>
                            <option value="France">France</option>
                            <option value="Germany">Germany</option>
                          </select>
                        </div>
                        <div class="input-group">
                          <input type="text" class="form-control" tabindex="1" placeholder="Postcode (Optional)" name="from-post">
                        </div>
                      </div>
                      <div class="info-input w-100">
                        <div class="d-flex align-items-center">
                          <div class="info-input-label">
                            To:
                          </div>
                          <select class='form-control custom-picker theme-text' data-live-search="false" data-size="5" data-style="select-light" name="to">
                            <option value="Great Britain">Great Britain</option>
                            <option value="France" selected>France</option>
                            <option value="Germany">Germany</option>
                          </select>
                        </div>
                        <div class="input-group">
                          <input type="text" class="form-control" tabindex="1" placeholder="Postcode (Optional)" name="to-post">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-7 pl-xl-0 d-flex flex-wrap">
                    <div class="details-list-container">
                      <div class="details-list-row">
                        <div class="w-md-100 d-flex">
                          <div class="info-input wf-95 w-md-100">
                            <div class="info-input-label">
                              Quantity
                            </div>
                            <select class='form-control custom-picker' data-live-search="false" data-size="5" data-style="select-light" name="quantity[]">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                              <option value="6">6</option>
                              <option value="7">7</option>
                              <option value="8">8</option>
                              <option value="9">9</option>
                              <option value="10">10</option>
                              <option value="11">11</option>
                              <option value="12">12</option>
                              <option value="13">13</option>
                              <option value="14">14</option>
                              <option value="15">15</option>
                              <option value="16">16</option>
                              <option value="17">17</option>
                              <option value="18">18</option>
                              <option value="19">19</option>
                              <option value="20">20</option>
                              <option value="21">21</option>
                              <option value="22">22</option>
                              <option value="23">23</option>
                              <option value="24">24</option>
                              <option value="25">25</option>
                              <option value="26">26</option>
                              <option value="27">27</option>
                              <option value="28">28</option>
                              <option value="29">29</option>
                              <option value="30">30</option>
                              <option value="31">31</option>
                              <option value="32">32</option>
                              <option value="33">33</option>
                              <option value="34">34</option>
                              <option value="35">35</option>
                              <option value="36">36</option>
                              <option value="37">37</option>
                              <option value="38">38</option>
                              <option value="39">39</option>
                              <option value="40">40</option>
                              <option value="41">41</option>
                              <option value="42">42</option>
                              <option value="43">43</option>
                              <option value="44">44</option>
                              <option value="45">45</option>
                              <option value="46">46</option>
                              <option value="47">47</option>
                              <option value="48">48</option>
                              <option value="49">49</option>
                              <option value="50">50</option>
                            </select>
                          </div>

                          <div class="info-input wf-95 w-md-100 mr-adv-0">
                            <div class="info-input-label">
                              Weight
                            </div>
                            <div class="input-group">
                              <input type="number" class="form-control" data-pv-message="Please enter weight" tabindex="1" name="weight[]"><input type="hidden" value="1" name="weight_unit[]">
                              <div class='input-measure'>
                                <p>kg</p><p>lb</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="d-flex justify-content-between d-none position-relative" data-action="custom-size-inputs">
                          <div class="info-input wf-95 w-md-100">
                            <div class="info-input-label">
                              Length
                            </div>
                            <div class="input-group">
                              <input type="number" class="form-control" data-pv-message="Please enter weight" tabindex="1" name="length[]"><input type="hidden" value="1" name="length_unit[]">
                              <div class='input-measure'>
                                <p>cm</p><p>in</p>
                              </div>
                            </div>
                          </div>

                          <div class="info-input wf-95 w-md-100">
                            <div class="info-input-label">
                              Width
                            </div>
                            <div class="input-group">
                              <input type="number" class="form-control" data-pv-message="Please enter weight" tabindex="1" name="width[]"><input type="hidden" value="1" name="width_unit[]">
                              <div class='input-measure'>
                                <p>cm</p><p>in</p>
                              </div>
                            </div>
                          </div>

                          <div class="info-input wf-95 w-md-100 mr-adv-0">
                            <div class="info-input-label">
                              Height
                            </div>
                            <div class="input-group">
                              <input type="number" class="form-control" data-pv-message="Please enter weight" tabindex="1" name="height[]"><input type="hidden" value="1" name="height_unit[]">
                              <div class='input-measure'>
                                <p>cm</p><p>in</p>
                              </div>
                            </div>
                          </div>
                          <div class="details-back" data-action="sizes-back"><i class="fas fa-arrow-circle-left"></i></div>
                        </div>
                        <div class=" w-md-100" data-action="size-selector">
                          <div class="info-input wf-160 w-md-100 mr-adv-0">
                            <div class="info-input-label">
                              Package type
                            </div>
                            <select class='form-control custom-picker' data-live-search="false" name="parcel-size" data-size="5" data-style="select-light" name="document-type" data-action="custom-size">
                              <option value="Small box G4">Small box G4 (45 x 35 x 16cm)</option>
                              <option value="Custom size">Custom size</option>
                            </select>
                          </div>
                        </div>
                        <div class="input-toggler d-none" data-action="target-toggler">
                          <select class='form-control custom-picker theme-text nound' data-live-search="false" data-size="5" data-style="select-light" name="unit[]" data-action="change-unit">
                            <option value="1">kg / cm</option>
                            <option value="2">lb / in</option>
                          </select>
                        </div>
                        <div class="info-input add-row">
                          <a href="javascript:void(0)" class='info-input-more'><i class="fa fa-plus-circle"></i></a>
                          <a href="javascript:void(0)" class='info-input-more remove'><i class="far fa-trash-alt"></i></a>
                        </div>
                      </div>
                    </div>
                    <div class=" ml-adv-10 d-none-md"><button class='btn not-rounded btn-orange mt-sp text-nowrap' data-action="quote-btn" type="submit">QUOTE ME <i class="ml-2 fas fa-chevron-right"></i></button></div>
                    <div class="w-100 mt-2 parcel-widget-botton-actions">
                      <button class="btn btn-ocean" data-action="add-row" type="button"><i class="icon-add-new"></i>Add parcel</button>
                      <button class='btn not-rounded btn-orange text-nowrap d-none d-block-md' data-action="quote-btn-additional" type="submit">QUOTE ME <i class="ml-2 fas fa-chevron-right"></i></button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="tab-pane details-list-section fade" id="quotebox-10">
              <form action="#" method="POST">
                <div class="row mt-4">
                  <div class="col-md-12">
                    <div class="mb-4">Get savings on delivery rates with our document only services.</div>
                  </div>
                  <div class="col-xl-5 pr-xl-0">
                    <div class="parcel-widget-from-to">
                      <div class="info-input w-100">
                        <div class="d-flex align-items-center">
                          <div class="info-input-label">
                            From:
                          </div>
                          <select class='form-control custom-picker theme-text' data-live-search="false" data-size="5" data-style="select-light" name="from">
                            <option value="Great Britain">Great Britain</option>
                            <option value="France">France</option>
                            <option value="Germany">Germany</option>
                          </select>
                        </div>
                        <div class="input-group">
                          <input type="text" class="form-control" tabindex="1" placeholder="Postcode (Optional)" name="from-post">
                        </div>
                      </div>
                      <div class="info-input w-100">
                        <div class="d-flex align-items-center">
                          <div class="info-input-label">
                            To:
                          </div>
                          <select class='form-control custom-picker theme-text' data-live-search="false" data-size="5" data-style="select-light" name="to">
                            <option value="Great Britain">Great Britain</option>
                            <option value="France" selected>France</option>
                            <option value="Germany">Germany</option>
                          </select>
                        </div>
                        <div class="input-group">
                          <input type="text" class="form-control" tabindex="1" placeholder="Postcode (Optional)" name="to-post">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-7 pl-xl-0 d-flex flex-wrap">
                    <div class="details-list-container">
                      <div class="details-list-row">
                        <div class="d-xl-flex d-block d-none w-100" data-action="custom-size-inputs">
                          <div class="d-flex">
                            <div class="info-input wf-95 w-md-100">
                              <div class="info-input-label">
                                Quantity
                              </div>
                              <select class='form-control custom-picker' data-live-search="false" data-size="5" data-style="select-light" name="quantity[]">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                                <option value="32">32</option>
                                <option value="33">33</option>
                                <option value="34">34</option>
                                <option value="35">35</option>
                                <option value="36">36</option>
                                <option value="37">37</option>
                                <option value="38">38</option>
                                <option value="39">39</option>
                                <option value="40">40</option>
                                <option value="41">41</option>
                                <option value="42">42</option>
                                <option value="43">43</option>
                                <option value="44">44</option>
                                <option value="45">45</option>
                                <option value="46">46</option>
                                <option value="47">47</option>
                                <option value="48">48</option>
                                <option value="49">49</option>
                                <option value="50">50</option>
                              </select>
                            </div>

                            <div class="info-input wf-95 w-md-100 mr-adv-0">
                              <div class="info-input-label">
                                Weight
                              </div>
                              <div class="input-group">
                                <input type="number" class="form-control" data-pv-message="Please enter weight" tabindex="1" name="weight[]"><input type="hidden" value="1" name="weight_unit[]">
                                <div class='input-measure'>
                                  <p>kg</p><p>lb</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="d-flex justify-content-between" data-action="volume-section">
                            <div class="info-input wf-95 w-md-100">
                              <div class="info-input-label">
                                Length
                              </div>
                              <div class="input-group">
                                <input type="number" class="form-control" data-pv-message="Please enter weight" tabindex="1" name="length[]"><input type="hidden" value="1" name="length_unit[]">
                                <div class='input-measure'>
                                  <p>cm</p><p>in</p>
                                </div>
                              </div>
                            </div>

                            <div class="info-input wf-95 w-md-100">
                              <div class="info-input-label">
                                Width
                              </div>
                              <div class="input-group">
                                <input type="number" class="form-control" data-pv-message="Please enter weight" tabindex="1" name="width[]"><input type="hidden" value="1" name="width_unit[]">
                                <div class='input-measure'>
                                  <p>cm</p><p>in</p>
                                </div>
                              </div>
                            </div>

                            <div class="info-input wf-95 w-md-100 mr-adv-0">
                              <div class="info-input-label">
                                Height
                              </div>
                              <div class="input-group">
                                <input type="number" class="form-control" data-pv-message="Please enter weight" tabindex="1" name="height[]"><input type="hidden" value="1" name="height_unit[]">
                                <div class='input-measure'>
                                  <p>cm</p><p>in</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="details-back" data-action="sizes-back"><i class="fas fa-arrow-circle-left"></i></div>
                        </div>
                        <div class=" w-md-100" data-action="size-selector">
                          <div class="info-input wf-300 w-md-100 mr-adv-0">
                            <div class="info-input-label">
                              Document type
                            </div>
                            <select class='form-control custom-picker' data-live-search="false" name="document-size" data-size="5" data-style="select-light" name="document-type" data-action="custom-size">
                              <option value="A4 envelope">A4 envelope (30.3 x 40.6cm)</option>
                              <option value="A5 envelope">A5 envelope (21cm x 14.8cm)</option>
                              <option value="Custom size">Custom size</option>
                            </select>
                          </div>
                        </div>
                        <div class="input-toggler d-none" data-action="target-toggler">
                          <select class='form-control custom-picker theme-text nound' data-live-search="false" data-size="5" data-style="select-light" name="unit[]" data-action="change-unit">
                            <option value="1">kg / cm</option>
                            <option value="2">lb / in</option>
                          </select>
                        </div>
                        <div class="info-input add-row">
                          <a href="javascript:void(0)" class='info-input-more'><i class="fa fa-plus-circle"></i></a>
                          <a href="javascript:void(0)" class='info-input-more remove'><i class="far fa-trash-alt"></i></a>
                        </div>
                      </div>
                    </div>
                    <div class=" ml-adv-10 d-none-md"><button class='btn not-rounded btn-orange mt-sp text-nowrap' data-action="quote-btn">QUOTE ME <i class="ml-2 fas fa-chevron-right"></i></button></div>
                    <div class="w-100 mt-2 parcel-widget-botton-actions">
                      <button class="btn btn-ocean" data-action="add-row" type="button"><i class="icon-add-new"></i>Add parcel</button>
                      <button class='btn not-rounded btn-orange text-nowrap d-none d-block-md' data-action="quote-btn-additional">QUOTE ME <i class="ml-2 fas fa-chevron-right"></i></button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}