{% extends "structure/parcel-hero/_layout-simple.njk" %}

{% set title = "Parcel hero Styleguide" %}

{% block content %}

<section class="bg-gray-light pt-g pb-g">
  <div class="container">
    <div class="row align-items-stretch">
      <div class="col-md-6 pb-g">
        <div class="block h-100">
          <h2 class="mb-4">Inputs</h2>

          <div>
            <div class="form-group">
              <input type="text" placeholder="Input dark" name="input" class="form-control dark-theme">
            </div>

            <div class="form-group">
              <input type="text" placeholder="Input light" name="input" class="form-control">
            </div>

            <div class="form-group input-password">
              <input type="password" placeholder="Input password" name="input-password" class="form-control w-100 dark-theme">
              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
            </div>

            <div class="form-group search-widget">
              <input type="text" class="form-control dark-theme" placeholder="Search input">
              <div class="search-widget-icons">
                <i class="search-widget-search fas fa-search active"></i>
                <i class="search-widget-remove fas fa-times"></i>
              </div>
            </div>

            <div class="form-group search-widget">
              <input type="text" class="form-control" placeholder="Search input">
              <div class="search-widget-icons">
                <i class="search-widget-search fas fa-search active"></i>
                <i class="search-widget-remove fas fa-times"></i>
              </div>
            </div>

            <div class="form-group">
              <label for="find-address">Find address</label>
              <div class="search-input">
                <input type="text" autocomplete="new-adress" name="find-adress" data-type="advanced" data-custom="#parcel-add-collection-address" data-target="#parcel-find-adress-result" data-adv="#parcel-find-adress-adv" data-hide="#parcel-find-adress" data-data="adress" placeholder="Start typing the address" id="find-address" class="form-control not-rounded dark-theme">
              </div>
            </div>

            <div class="form-group">
              <select class='form-control custom-picker' data-live-search="true" data-size="5" data-style="select-light">
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
                <option value="4">Option 4</option>
                <option value="5">Option 5</option>
                <option value="6">Option 6</option>
              </select>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-6 pb-g">
        <div class="block h-100 sg-buttons">
          <h2 class="mb-4">Buttons</h2>
          <div>
            <button class="btn btn-primary">Primary button</button>
            <button class="btn btn-secondary">Secondary button</button>
            <button class="btn btn-orange">Orange button</button>
            <button class="btn btn-blue-adv btn-sm">Button small with icon <i class="ml-2 fas fa-chevron-right"></i></button>
            <button class="btn btn-primary btn-sm">Primary small button</button>
            <button class="btn btn-gradient-primary btn-12">Gradient button</button>
            <button href="#" class="btn btn-gradient-secondary">Gradient button <i class="ml-2 fas fa-chevron-right"></i></button>
          </div>
          <h2 class="mb-4 mt-4">Outline buttons</h2>
          <div>
            <button class="btn btn-outline-primary">Primary outline</button>
            <button class="btn btn-outline-secondary btn-md">Secondary outline</button>
            <button class="btn not-rounded btn-orange-outline">Orange outline</button>
            <button class="btn btn-orange-outline">Orange outline</button>
            <button class="btn btn-outwhite-dark">Dark outline</button>
            <button type="button" class="btn btn-outline-dark text-uppercase">Dark outline</button>
            <button class="btn btn-add p-0" id="add-item-btn"><i class="fa-plus fa"></i>Add item</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 pb-g">
        <div class="block h-100">
          <h2 class="mb-4">Collapses</h2>

          <div class="accordion mb-4" id="accordionDemo">
            <div class="accordion-group">
              <button class="collapse-toggler mt-4" type="button" data-toggle="collapse" data-target="#collapse-1" aria-expanded="false" aria-controls="collapse-1">
                <div>Accordion 1</div><i class="fas fa-chevron-down"></i>
              </button>
              <div class="collapse" id="collapse-1" data-parent="#accordionDemo">
                <div class="p-4">
                  Accordion content
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <button class="collapse-toggler mt-4" type="button" data-toggle="collapse" data-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                <div>Accordion 2</div><i class="fas fa-chevron-down"></i>
              </button>
              <div class="collapse" id="collapse-2" data-parent="#accordionDemo">
                <div class="p-4">
                  Accordion content
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <button class="collapse-toggler mt-4" type="button" data-toggle="collapse" data-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                <div>Accordion 3</div><i class="fas fa-chevron-down"></i>
              </button>
              <div class="collapse" id="collapse-3" data-parent="#accordionDemo">
                <div class="p-4">
                  Accordion content
                </div>
              </div>
            </div>
          </div>

          <div class="accordion theme-light mb-4" id="accordionLight">
            <div class="accordion-group mb-2">
              <button class="collapse-toggler" type="button" data-toggle="collapse" data-target="#ac-light-1" aria-expanded="false" aria-controls="ac-light-1">
                <div>Accordion 1</div><i class="fas fa-chevron-down"></i>
              </button>
              <div class="collapse" id="ac-light-1" data-parent="#accordionLight">
                <div class="p-4">
                  Accordion content
                </div>
              </div>
            </div>
            <div class="accordion-group mb-2">
              <button class="collapse-toggler" type="button" data-toggle="collapse" data-target="#ac-light-2" aria-expanded="false" aria-controls="ac-light-2">
                <div>Accordion 2</div><i class="fas fa-chevron-down"></i>
              </button>
              <div class="collapse" id="ac-light-2" data-parent="#accordionLight">
                <div class="p-4">
                  Accordion content
                </div>
              </div>
            </div>
            <div class="accordion-group mb-2">
              <button class="collapse-toggler" type="button" data-toggle="collapse" data-target="#ac-light-3" aria-expanded="false" aria-controls="ac-light-3">
                <div>Accordion 3</div><i class="fas fa-chevron-down"></i>
              </button>
              <div class="collapse" id="ac-light-3" data-parent="#accordionLight">
                <div class="p-4">
                  Accordion content
                </div>
              </div>
            </div>
          </div>

          <div class="accordion theme-light grouped mb-4" id="accordionLight">
            <div class="accordion-group">
              <button class="collapse-toggler" type="button" data-toggle="collapse" data-target="#accordion-1" aria-expanded="false" aria-controls="accordion-1">
                <div>
                  <div>Accordion 1</div>
                </div>
                <div></div>
              </button>
              <div class="collapse" id="accordion-1" data-parent="#accordionLight">
                <div class="p-4">
                  Accordion content
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <button class="collapse-toggler" type="button" data-toggle="collapse" data-target="#accordion-2" aria-expanded="false" aria-controls="accordion-2">
                <div>
                  <div>Accordion 2</div>
                </div>
                <div></div>
              </button>
              <div class="collapse" id="accordion-2" data-parent="#accordionLight">
                <div class="p-4">
                  Accordion content
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <button class="collapse-toggler" type="button" data-toggle="collapse" data-target="#accordion-3" aria-expanded="false" aria-controls="accordion-3">
                <div>
                  <div>Accordion 3</div>
                </div>
                <div></div>
              </button>
              <div class="collapse" id="accordion-3" data-parent="#accordionLight">
                <div class="p-4">
                  Accordion content
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 pb-g">
        <div class="block h-100">
          <h2 class="mb-4">Collapses</h2>
          <div class="accordion theme-light grouped mb-4" id="accordionLightSelect">
            <div class="accordion-group">
              <button class="collapse-toggler" type="button" data-toggle="collapse" data-target="#acl-1" aria-expanded="false" aria-controls="acl-1">
                <div class="d-flex align-items-center">
                  <div class="accordion-select mr-2"></div>
                  <div>Accordion 1</div>
                </div>
                <div><img src="../img/ph_logo.svg" alt=""></div>
              </button>
              <div class="collapse" id="acl-1" data-parent="#accordionLightSelect">
                <div class="p-4">
                  Accordion content
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <button class="collapse-toggler" type="button" data-toggle="collapse" data-target="#acl-2" aria-expanded="false" aria-controls="acl-2">
                <div class="d-flex align-items-center">
                  <div class="accordion-select mr-2"></div>
                  <div>Accordion 2</div>
                </div>
                <div><img src="../img/ph_logo.svg" alt=""></div>
              </button>
              <div class="collapse" id="acl-2" data-parent="#accordionLightSelect">
                <div class="p-4">
                  Accordion content
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <button class="collapse-toggler" type="button" data-toggle="collapse" data-target="#acl-3" aria-expanded="false" aria-controls="acl-3">
                <div class="d-flex align-items-center">
                  <div class="accordion-select mr-2"></div>
                  <div>Accordion 3</div>
                </div>
                <div><img src="../img/ph_logo.svg" alt=""></div>
              </button>
              <div class="collapse" id="acl-3" data-parent="#accordionLightSelect">
                <div class="p-4">
                  Accordion content
                </div>
              </div>
            </div>
          </div>

          <div class="mb-4">
            <button class="collapse-toggler" type="button" data-toggle="collapse" data-target="#collapse-4" aria-expanded="false" aria-controls="collapse-1">
              <div>Collapse default</div><i class="fas fa-chevron-down"></i>
            </button>
            <div class="collapse" id="collapse-4">
              <div class="p-4">
                Collapse content
              </div>
            </div>
          </div>

          <div class="collapse-toggler simple-primary" data-toggle="collapse" data-target="#collapseSimple" aria-expanded="false" aria-controls="collapseSimple">Simple collapse<i class="fas fa-chevron-down ml-1"></i></div>
          <div class="collapse" id="collapseSimple">
            <div class="pt-2">
              Collapse content
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 pb-g">
        <div class="block h-100">
          <h2 class="mb-4">Tabs</h2>

          <nav class="nav-tabs-container">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Tab 1</a>
              <a class="nav-item nav-link" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">Tab 2</a>
              <a class="nav-item nav-link" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">Tab 3</a>
              <a class="nav-item nav-link" data-toggle="tab" href="#tab-4" role="tab" aria-controls="tab-4" aria-selected="false">Tab 4</a>
            </div>
          </nav>
          <div class="tab-content p-4" id="nav-tabs">
            <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
              Content 1
            </div>
            <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
              Content 2
            </div>
            <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab-3">
              Content 3
            </div>
            <div class="tab-pane fade" id="tab-4" role="tabpanel" aria-labelledby="tab-4">
              Content 4
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 pb-g">
        <div class="block h-100">
          <h2 class="mb-4">Modals</h2>

          {% include "modules/parcel-hero/_module-change-country.njk" %}

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 pb-g">
        <div class="block h-100">
          <h2 class="mb-4">Cards</h2>

          <div class="card mb-4">
            <div class="card-body double-padding">
              <h5 class="card-title">Card title</h5>
              <div class="card-middle-t">
                Card content
              </div>
            </div>
          </div>

          <div class="card bg-neutral mb-4">
            <div class="card-body double-padding">
              <h5 class="card-title">Card title</h5>
              <div class="card-middle-t">
                Card content
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-body double-padding">
              <div class="row">
                <div class="col-8">
                  <h5 class="card-title">Cards with select</h5>
                </div>
                <div class="col-4 d-flex justify-content-end">
                  <select class='form-control custom-picker card-select-t' data-size="5" data-style="select-light" select-controll="card-select">
                    <option value="option-1" select-target="option-1">Option 1</option>
                    <option value="option-2" select-target="option-2">Option 2</option>
                    <option value="option-3" select-target="option-3">Option 3</option>
                    <option value="option-4" select-target="option-4">Option 4</option>
                  </select>
                </div>
              </div>
              <div class="collapse show" select-group="card-select" id="option-1">
                <span>Content 1</span>
              </div>
              <div class="collapse" select-group="card-select" id="option-2">
                <span>Content 2</span>
              </div>
              <div class="collapse" select-group="card-select" id="option-3">
                <span>Content 3</span>
              </div>
              <div class="collapse" select-group="card-select" id="option-4">
                <span>Content 4</span>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-6 pb-g">
        <div class="block h-100">
          <h2 class="mb-4">Radio buttons & Checkboxes</h2>

          <div class="parcelhero-checkbox d-flex">
            <input type="checkbox" id="checkbox-1">
            <label for="checkbox-1"></label>
          </div>

          <div class="parcelhero-checkbox d-flex">
            <input type="checkbox" id="checkbox-2">
            <label for="checkbox-2">With label</label>
          </div>

          <div class="parcelhero-checkbox d-flex theme-black">
            <input type="checkbox" id="checkbox-3">
            <label for="checkbox-3">With label dark</label>
          </div>

          <div class="d-flex pt-4">
            <div class="parcelhero-checkbox outline-secondary rounded d-flex mr-2">
              <input type="checkbox" name="outline-checkbox" id="outline-checkbox-1">
              <label for="outline-checkbox-1">checkbox 1</label>
            </div>

            <div class="parcelhero-checkbox outline-secondary rounded d-flex mr-2">
              <input type="checkbox" name="outline-checkbox" id="outline-checkbox-2">
              <label for="outline-checkbox-2">checkbox 2</label>
            </div>

            <div class="parcelhero-checkbox outline-secondary rounded d-flex mr-2">
              <input type="checkbox" name="outline-checkbox" id="outline-checkbox-3">
              <label for="outline-checkbox-3">checkbox 3</label>
            </div>
          </div>

          <div class="pt-4">
            <div class="parcelhero-radio d-flex">
              <input type="radio" name="radio-new" value="0" id="radio-new-1">
              <label for="radio-new-1">
                Radio - 1
              </label>
            </div>
            <div class="parcelhero-radio d-flex">
              <input type="radio" name="radio-new" value="1" id="radio-new-2">
              <label for="radio-new-2">
                Radio - 2
              </label>
            </div>
            <div class="parcelhero-radio d-flex">
              <input type="radio" name="radio-new" value="2" id="radio-new-3">
              <label for="radio-new-3">
                Radio - 3
              </label>
            </div>
          </div>

          <div class="pt-4">
            <div class="d-flex">
              <div class="parcelhero-radio outline-secondary mr-2 rounded">
                <input type="radio" name="outline-radio" value="0" id="outline-radio-1">
                <label for="outline-radio-1">
                  Radio 1
                </label>
              </div>
              <div class="parcelhero-radio outline-secondary mr-2 rounded">
                <input type="radio" name="outline-radio" value="2" id="outline-radio-2">
                <label for="outline-radio-2">
                  Radio 2
                </label>
              </div>
              <div class="parcelhero-radio outline-secondary mr-2 rounded">
                <input type="radio" name="outline-radio" value="3" id="outline-radio-3">
                <label for="outline-radio-3">
                  Radio 3
                </label>
              </div>
            </div>
          </div>

          <div class="pt-4">
            <div class="group-radio">
              <div class="group-radio-item active">
                <div class="group-radio-title">
                  <div class="radio-secondary">
                    <input type="radio" value="0" name="delivery-price" checked>
                    <span class="checkmark"></span>
                  </div>
                  <span>Original selection</span>
                </div>
                <div class="group-radio-content">
                  <i class="icon-info presset-icon-medium"></i>
                  <div class="group-radio-img"><img src="../img/icons/dhl-logo.png" alt=""></div>
                  <div class="text-medium-m text-deep">£24.96</div>
                  <div>Delivers Tue 29th</div>
                </div>
              </div>
              <div class="group-radio-item">
                <div class="group-radio-title">
                  <div class="radio-secondary">
                    <input type="radio" value="0" name="delivery-price">
                    <span class="checkmark"></span>
                  </div>
                  <span>Cheaper service</span>
                </div>
                <div class="group-radio-content">
                  <i class="icon-info presset-icon-medium"></i>
                  <div class="group-radio-img"><img src="../img/icons/ups.svg" alt=""></div>
                  <div class="text-medium-m text-deep">£22.32</div>
                  <div>Delivers Wed 30th</div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 pb-g">
        <div class="block">
          <h2 class="mb-4">Tables</h2>

          <div class="table confirmation-table p-0">
            <div class="table-wrap overflow-md-hidden">
              <table class="table ">
                <thead>
                  <tr>
                    <th class="w-0">Parcels</th>
                    <th class="w-0">Recipient</th>
                    <th class="w-0">Destination</th>
                    <th class="w-0">Reference</th>
                    <th class="w-0">Price</th>
                    <th class="w-0 text-right">Label printing</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      4 parcels
                    </td>
                    <td>
                      John Smith
                    </td>
                    <td>
                      United States
                    </td>
                    <td>
                      Toybox643
                    </td>
                    <td>
                      £32.34
                    </td>
                    <td>
                      <div class="d-flex align-items-center justify-content-end link-primary">
                        <i class="mr-1 fas fa-print"></i> Print docs
                      </div>
                    </td>
                    <td>
                      <div class="table-actions pull-right mr-2">
                        <span class="d-none d-none d-inline-block-md">
                          <i data-toggle="tooltip" data-placement="top" title="" class="fas fa-list-ul" aria-hidden="true" data-original-title="View details"></i>
                          <span class="sr-only">View details</span>
                        </span>
                        <span class="d-none d-none d-inline-block-md">
                          <i data-toggle="tooltip" data-placement="top" title="" class="far fa-trash-alt" aria-hidden="true" data-original-title="Delete"></i>
                          <span class="sr-only">Delete</span>
                        </span>
                        <span class="mr-1 d-none-md">
                          <i class="fas fa-ellipsis-h dropdown-custom">
                            <div class="dropdown-menu-custom">
                              <div>
                                <a class="dropdown-item" href="#"><i class="fas fa-list-ul mr-2"></i>View details</a>
                                <a class="dropdown-item" href="#"><i class="far fa-trash-alt mr-2"></i>Delete</a>
                              </div>
                            </div>
                          </i>
                        </span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      2 parcels
                    </td>
                    <td>
                      John Smith
                    </td>
                    <td>
                      United States
                    </td>
                    <td>
                    </td>
                    <td>
                      £32.34
                    </td>
                    <td class="text-right">
                      Not required
                    </td>
                    <td>
                      <div class="table-actions pull-right mr-2">
                        <span class="d-none d-none d-inline-block-md">
                          <i data-toggle="tooltip" data-placement="top" title="" class="fas fa-list-ul" aria-hidden="true" data-original-title="View details"></i>
                          <span class="sr-only">View details</span>
                        </span>
                        <span class="d-none d-none d-inline-block-md">
                          <i data-toggle="tooltip" data-placement="top" title="" class="far fa-trash-alt" aria-hidden="true" data-original-title="Delete"></i>
                          <span class="sr-only">Delete</span>
                        </span>
                        <span class="mr-1 d-none-md">
                          <i class="fas fa-ellipsis-h dropdown-custom">
                            <div class="dropdown-menu-custom">
                              <div>
                                <a class="dropdown-item" href="#"><i class="fas fa-list-ul mr-2"></i>View details</a>
                                <a class="dropdown-item" href="#"><i class="far fa-trash-alt mr-2"></i>Delete</a>
                              </div>
                            </div>
                          </i>
                        </span>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="table mt-2 account-table collapse show">
            <table>
              <thead>
                <tr>
                  <th>Reference</th>
                  <th>Recipient</th>
                  <th>Destination</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>76548455</td>
                  <td>John Smith</td>
                  <td>United States</td>
                  <td class="text-right">
                    <div class="table-actions d-inline-block"><i data-toggle="tooltip" data-placement="top" title="Print" class="fas fa-print"></i><span data-toggle="modal" data-target="#confirmRemove"><i data-toggle="tooltip" data-placement="top" title="Cancel" class="fas fa-times"></i></span></div>
                  </td>
                </tr>
                <tr>
                  <td>83654366</td>
                  <td>Cora Khalil</td>
                  <td>United Kingdom</td>
                  <td class="text-right">
                    <div class="table-actions d-inline-block"><i data-toggle="tooltip" data-placement="top" title="Print" class="fas fa-print"></i><span data-toggle="modal" data-target="#confirmRemove"><i data-toggle="tooltip" data-placement="top" title="Cancel" class="fas fa-times"></i></span></div>
                  </td>
                </tr>
                <tr>
                  <td>83654366</td>
                  <td>Cora Khalil</td>
                  <td>United Kingdom</td>
                  <td class="text-right">
                    <div class="table-actions d-inline-block"><i data-toggle="tooltip" data-placement="top" title="Print" class="fas fa-print"></i><span data-toggle="modal" data-target="#confirmRemove"><i data-toggle="tooltip" data-placement="top" title="Cancel" class="fas fa-times"></i></span></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 pb-g">
        <div class="block h-100 sg-icons">
          <h2 class="mb-4">Icons</h2>
          <i class="icon-intro-1"></i>
          <i class="icon-intro-2"></i>
          <i class="icon-check"></i>
          <i class="icon-help"></i>
          <i class="icon-shield-check"></i>
          <i class="icon-login"></i>
          <i class="icon-live-chat"></i>
          <i class="icon-close"></i>
          <i class="icon-icon_check_shield"></i>
          <i class="icon-icon_weighing-scale"></i>
          <i class="icon-clock"></i>
          <i class="icon-down-angle-bracket"></i>
          <i class="icon-info"></i>
          <i class="icon-location"></i>
          <i class="icon-printer-not-required"></i>
          <i class="icon-printer-required"></i>
          <i class="icon-user"></i>
          <i class="icon-users"></i>
          <i class="icon-settings"></i>
          <i class="icon-shield"></i>
          <i class="icon-user-circle"></i>
          <i class="icon-wallet-prepay"></i>
          <i class="icon-trash"></i>
          <i class="icon-success-confirmation"></i>
          <i class="icon-small-shield-confirm"></i>
          <i class="icon-shield-confirm"></i>
          <i class="icon-radio-checked"></i>
          <i class="icon-phone"></i>
          <i class="icon-pencil"></i>
          <i class="icon-pdf"></i>
          <i class="icon-new-window"></i>
          <i class="icon-new-document"></i>
          <i class="icon-list"></i>
          <i class="icon-lines"></i>
          <i class="icon-home"></i>
          <i class="icon-document"></i>
          <i class="icon-delivery"></i>
          <i class="icon-copy"></i>
          <i class="icon-contact-details"></i>
          <i class="icon-config-bar"></i>
          <i class="icon-circle-minus"></i>
          <i class="icon-circle-plus"></i>
          <i class="icon-circle-info"></i>
          <i class="icon-circle-car"></i>
          <i class="icon-circle-calendar"></i>
          <i class="icon-circle-agree"></i>
          <i class="icon-circle"></i>
          <i class="icon-cancel-small"></i>
          <i class="icon-cancel-circle"></i>
          <i class="icon-add-new"></i>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 pb-g">
        <div class="block h-100">
          <h2 class="mb-4">Headings</h2>
          <div>
            <h1>h1</h1>
            <h2>h2</h2>
            <h3>h3</h3>
            <h4>h4</h4>
            <h5>h5</h5>
            <h6>h6</h6>
          </div>
          <h2 class="mt-4">Colors</h2>
          <div class="sg-boxes">
            <div>
              <span class="text-primary">primary</span>
              <div class="bg-primary"></div>
            </div>
            <div>
              <span class="text-secondary">secondary</span>
              <div class="bg-secondary"></div>
            </div>
            <div>
              <span class="text-success">success</span>
              <div class="bg-success"></div>
            </div>
            <div>
              <span class="text-info">info</span>
              <div class="bg-info"></div>
            </div>
            <div>
              <span class="text-warning">warning</span>
              <div class="bg-warning"></div>
            </div>
            <div>
              <span class="text-danger">danger</span>
              <div class="bg-danger"></div>
            </div>
            <div>
              <span class="text-light">light</span>
              <div class="bg-light"></div>
            </div>
            <div>
              <span class="text-dark">dark</span>
              <div class="bg-dark"></div>
            </div>
            <div>
              <span class="text-filter">filter</span>
              <div class="bg-filter"></div>
            </div>
            <div>
              <span class="text-gray">gray</span>
              <div class="bg-gray"></div>
            </div>
            <div>
              <span class="text-dblue">dblue</span>
              <div class="bg-dblue"></div>
            </div>
            <div>
              <span class="text-blue-adv">blue-adv</span>
              <div class="bg-blue-adv"></div>
            </div>
            <div>
              <span class="text-blue-cover">blue-cover</span>
              <div class="bg-blue-cover"></div>
            </div>
            <div>
              <span class="text-orange">orange</span>
              <div class="bg-orange"></div>
            </div>
            <div>
              <span class="text-neutral">neutral</span>
              <div class="bg-neutral"></div>
            </div>
            <div>
              <span class="text-gray-darker">gray-darker</span>
              <div class="bg-gray-darker"></div>
            </div>
            <div>
              <span class="text-success-adv">success-adv</span>
              <div class="bg-success-adv"></div>
            </div>
            <div>
              <span class="text-primary-spec">primary-spec</span>
              <div class="bg-primary-spec"></div>
            </div>
            <div>
              <span class="text-deep">deep</span>
              <div class="bg-deep"></div>
            </div>
            <div>
              <span class="text-cover-lg">cover-lg</span>
              <div class="bg-cover-lg"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 pb-g">
        <div class="block h-100">
          <h2 class="mb-4">Texts</h2>
          <div>
            <div class="text-title-medium">text-title-medium</div>
            <div class="text-sub-title">text-sub-title</div>
            <div class="text-sub-regular">text-sub-regular</div>
            <div class="text-sub-medium">text-sub-medium</div>
            <div class="text-strong-title">text-strong-title</div>
            <div class="text-link">text-link</div>
            <div class="text-medium-m">text-medium-m</div>
            <div class="text-regular-primary">text-regular-primary</div>
            <div class="text-medium-title">text-medium-title</div>
            <div class="text-title-secondary">text-title-secondary</div>
            <div class="text-title-dark">text-title-dark</div>
            <div class="text-strong">text-strong</div>
            <div class="text-regular-medium">text-regular-medium</div>
            <div class="text-medium">text-medium</div>
            <div class="text-lighter">text-lighter</div>
            <div class="text-light-subtitle">text-light-subtitle</div>
            <div class="text-label">text-label</div>
            <div class="text-small-medium">text-small-medium</div>
            <div class="text-small-light">text-small-medium</div>
            <div class="text-confirmation-strong">text-confirmation-strong</div>
            <div class="text-neutral-middle">text-neutral-middle</div>
            <div class="text-neutral-medium">text-neutral-medium</div>
            <div class="text-neutral-small">text-neutral-small</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block scripts %}
{% endblock %}