@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.woff2') format('woff2'),
      url('../fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
      url('../fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
      url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
      url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?u4hltg');
  src:  url('../fonts/icomoon.eot?u4hltg#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?u4hltg') format('truetype'),
    url('../fonts/icomoon.woff?u4hltg') format('woff'),
    url('../fonts/icomoon.svg?u4hltg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-intro-1:before {
  content: "\e900";
}
.icon-intro-2:before {
  content: "\e901";
}
.icon-check:before {
  content: "\e902";
}
.icon-help:before {
  content: "\e903";
}
.icon-shield-check:before {
  content: "\e904";
}
.icon-login:before {
  content: "\e905";
}
.icon-live-chat:before {
  content: "\e906";
}
.icon-close:before {
  content: "\e907";
}
.icon-icon_check_shield:before {
  content: "\e90e";
}
.icon-icon_weighing-scale:before {
  content: "\e90f";
}
.icon-clock:before {
  content: "\e910";
}
.icon-down-angle-bracket:before {
  content: "\e911";
}
.icon-info:before {
  content: "\e912";
}
.icon-location:before {
  content: "\e913";
}
.icon-printer-not-required:before {
  content: "\e914";
}
.icon-printer-required:before {
  content: "\e915";
}
.icon-user:before {
  content: "\e916";
}
.icon-users:before {
  content: "\e917";
}
.icon-settings:before {
  content: "\e918";
}
.icon-shield:before {
  content: "\e919";
}
.icon-user-circle:before {
  content: "\e908";
}
.icon-wallet-prepay:before {
  content: "\e909";
}
.icon-trash:before {
  content: "\e90a";
}
.icon-success-confirmation:before {
  content: "\e90b";
}
.icon-small-shield-confirm:before {
  content: "\e90c";
}
.icon-shield-confirm:before {
  content: "\e90d";
}
.icon-radio-checked:before {
  content: "\e91a";
}
.icon-phone:before {
  content: "\e91b";
}
.icon-pencil:before {
  content: "\e91c";
}
.icon-pdf:before {
  content: "\e91d";
}
.icon-new-window:before {
  content: "\e91e";
}
.icon-new-document:before {
  content: "\e91f";
}
.icon-list:before {
  content: "\e920";
}
.icon-lines:before {
  content: "\e921";
}
.icon-home:before {
  content: "\e922";
}
.icon-document:before {
  content: "\e923";
}
.icon-delivery:before {
  content: "\e924";
}
.icon-copy:before {
  content: "\e925";
}
.icon-contact-details:before {
  content: "\e926";
}
.icon-config-bar:before {
  content: "\e927";
}
.icon-circle-minus:before {
  content: "\e928";
}
.icon-circle-plus:before {
  content: "\e929";
}
.icon-circle-info:before {
  content: "\e92a";
}
.icon-circle-car:before {
  content: "\e92b";
}
.icon-circle-calendar:before {
  content: "\e92c";
}
.icon-circle-agree:before {
  content: "\e92d";
}
.icon-circle:before {
  content: "\e92e";
}
.icon-cancel-small:before {
  content: "\e92f";
}
.icon-cancel-circle:before {
  content: "\e930";
}
.icon-add-new:before {
  content: "\e931";
}