.presset-icon-medium {
  color: $dark-gray;
  cursor: pointer;
  font-size: 1.2rem;
  transition: color $transition ease;

  &:hover {
    color: $blue-btn;
  }
}

.preset-icon-large {
  width: 60px;
  max-height: 80px;
}