.pagiator {
  .pagiator-content{

  }

  .pagiator-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid $border-color;
    padding-top: 1rem;

    .pagiator-prev, .pagiator-next{
      opacity: 0;
      margin: 0 30px;
      cursor: pointer;
      color: $primary;
      pointer-events: none;
      transition: opacity $transition ease;

      &.active{
        opacity: 1;
        pointer-events: all;

        &:hover{
          opacity: 0.5;
        }
      }
    }
  }

  @include media-breakpoint-down(md){
    .pagiator-pagination {
      font-size: 0.8rem;
      white-space: nowrap;
      justify-content: space-between;

      .pagiator-prev, .pagiator-next{
        margin: 0 10px;
      }
    }
  }
}