<div class="modal-custom not-rounded" id="modal-adress-confirm">
    <div class="modal-custom-cover"></div>
    <div class="modal">
        <div class="modal-custom-content scroll-bg-gray-light">
            <i alt="close button" class="icon-close close-btn"></i>
            <div>
                <h4 class="text-medium-subtitle mb-4">Address suggestion</h4>
                <div>The entered delivery address does not seem to match post records. Please see our suggestion below.</div>
                <div class="text-danger mb-4">Please note, an invalid address may incur additional costs and cause delays to your shipment.</div>
                <div class="btn btn-additional not-rounded" id="parcel-continue-order">Continue to order summary</div>
            </div>
        </div>
    </div>
</div>