<div class="modal-custom small not-rounded">
    <div class="modal-custom-cover"></div>
    <div class="modal">
        <div class="modal-custom-content scroll-bg-gray-light">
            <i alt="close button" class="icon-close close-btn"></i>
            <h4>Changing country</h4>
            <div class="text-small mb-3">If you change delivery country, you will need to re-select the delivery service as this differs per delivery location.</div>
            <div>
                <div class="info-input w-100">
                    <div class="info-input-label">
                        <strong>Country</strong>
                    </div>
                    <select class='form-control custom-picker' data-live-search="true" ddata-dropup-auto="false" data-size="5" data-style="select-light">
                        <option value="United States">United States</option>
                        <option value="Great Britain">Great Britain</option>
                        <option value="France">France</option>
                        <option value="Germany">Germany</option>
                    </select>
                </div>
            </div>
            <div><div class="btn w-100 btn-primary not-rounded text-uppercase mt-4" data-action="change-country-continue">Continue</div></div>
            <div><div class="btn w-100 btn-outline-primary text-uppercase not-rounded mt-3 mb-4"  data-action="change-country-back">Go back</div></div>
            
        </div>
    </div>
</div>