<div class="modal-custom small not-rounded" id="modal-city-suggestion">
    <div class="modal-custom-cover"></div>
    <div class="modal">
        <div class="modal-custom-content scroll-bg-gray-light">
            <i alt="close button" class="icon-close close-btn"></i>
            <h4>Town / City name suggestion</h4>
            <div class="text-small mb-3">The town / city name you entered doesn't seem to match our records. Please use a suggestion below.</div>
            <div class="d-flex align-items-center border-bottom pt-3 pb-3">
                <label class="radio-secondary wide reversed">
                    <input type="radio" value="Hampstead" name="city-suggestion" checked>
                    <span class="checkmark"></span>
                    Hampstead
                </label>
            </div>
            <div class="d-flex align-items-center border-bottom pt-3 pb-3">
                <label class="radio-secondary wide reversed">
                    <input type="radio" value="Hampsted" name="city-suggestion">
                    <span class="checkmark"></span>
                    Hampsted
                </label>
            </div>
            <div class="d-flex align-items-center border-bottom pt-3 pb-3">
                <label class="radio-secondary wide reversed">
                    <input type="radio" value="Heampead" name="city-suggestion">
                    <span class="checkmark"></span>
                    Heampead
                </label>
            </div>
            <div class="d-flex align-items-center border-bottom pt-3 pb-3">
                <label class="radio-secondary wide reversed">
                    <input type="radio" value="Hempsted" name="city-suggestion">
                    <span class="checkmark"></span>
                    Hempsted
                </label>
            </div>
            <div>
                <div class="btn w-100 btn-primary not-rounded text-uppercase mt-4" id="continue-suggestion">Continue</div>
            </div>
        </div>
    </div>
</div>