<div class="modal-custom not-rounded" id="modal-drop-off">
    <div class="modal-custom-cover"></div>
    <div class="modal">
        <div class="modal-custom-content scroll-bg-gray-light">
            <i alt="close button" class="icon-close close-btn"></i>
            <div class="map preset-map" data-action="map"></div>
        </div>
    </div>
</div>