<div class="module-favorite" data-id={{favorite.id}} data-favorite={{favorite.group}} data-toggle="tooltip" data-placement="top" title="Favorite?" aria-hidden="true" data-original-title="Favorite">
  <i class="far fa-star"></i>
  <i class="fas fa-star"></i>
</div>