<div class="module-change-country">
  <label class="text-label" for="">Country</label>
  <div class="d-flex justify-content-between">
    <div class="d-flex">
      <input type="hidden" name="country" value="United States">
      <p class="custom-country" data-action="change-country-label">United States</p> <span class="link-primary-spec ml-2" data-action="change-country">Change</span>
    </div>
  </div>
  {% include "modules/parcel-hero/_change-country-modal.njk" %}
</div>