<div class="module-payment-method">
  <div class="d-flex justify-content-between align-items-center">
    <div class="text-medium-m">Payment method</div>
    <div><img src="../img/icons/verisign-logo.png" alt=""></div>
  </div>
  <div class="d-md-flex d-block mb-4 ">
    <div class="text-dark-large">Total to pay: £3.56</div>
    <div class="parcelhero-checkbox ml-md-4 ml-0 mt-md-0 mt-2 mb-0">
      <input type="checkbox" name="private-purchase" id="private-purchase">
      <label for="private-purchase">Private purchase</label>
    </div>
  </div>

  <div class="accordion theme-light grouped mb-4" id="accordionLightSelect">
    <div class="accordion-group">
      <button class="collapse-toggler" type="button" data-toggle="collapse" data-target="#acl-1" aria-expanded="false" aria-controls="acl-1">
        <div class="d-flex align-items-center">
          <div class="accordion-select mr-2"></div>
          <div>Top up and<br class="d-md-none d-block"> pay by wallet</div>
        </div>
        <div><img src="../img/ph_logo.svg" alt=""></div>
      </button>
      <div class="collapse" id="acl-1" data-parent="#accordionLightSelect">
        <div class="p-4">
          <div class="form-group">
            <label class="text-label" for="">Amount</label>
            <div class="d-flex align-items-center mb-1">
              <div class="w-50 w-md-100">
                <input type="text" value="" class="form-control dark-theme">
              </div>
              <div class="ml-2">
                GBP
              </div>
            </div>
            <div class="text-tiny">Minimum top up £25</div>
          </div>
          <div class="w-50 w-md-100">
            <div class="form-group">
              <label>Use card</label>
              <select class='form-control custom-picker' data-live-search="true" data-size="5" data-style="select-light">
                <option value="1">Select card</option>
                <option value="2">Debid card</option>
                <option value="3">Credit card</option>
                <option value="4">Bussiness card</option>
              </select>
            </div>
          </div>
          <div class="w-50 w-md-100">
            <div class="form-group has-error has-feedback">
              <label>Use card</label>
              <select class='form-control custom-picker' disabled data-live-search="true" data-size="5" data-style="select-light">
                <option value="1">Debit card ending 1653 (Expired)</option>
              </select>
              <div class="text-small text-danger mt-2">This card has expired, select another or add a new one</div>
            </div>
          </div>
          <div>
            <button class="btn btn-add mb-4" data-action="add-card">
              <i class="fa-plus fa"></i>
              Add card
            </button>
            <div class="d-none" data-action="card-form">
              <label class="text-label" for="">Card type</label>
              <div>
                <div class="d-md-flex d-block align-items-center mb-3">
                  <label class="radio light">
                    <input type="radio" value="visa" name="card-type" checked>
                    <span class="checkmark"></span>

                    <div>
                      <img class="icon-medium" src="../img/icons/visa-icon.png" alt="">
                    </div>
                    <div>
                      Visa
                    </div>
                  </label>

                  <label class="radio light ml-md-3 ml-0">
                    <input type="radio" value="mastercard" name="card-type">
                    <span class="checkmark"></span>

                    <div>
                      <img class="icon-medium" src="../img/icons/master-card-icon.png" alt="">
                    </div>
                    <div>
                      Mastercard
                    </div>
                  </label>
                </div>
                <div class="w-50 w-md-100">
                  <div class="form-group">
                    <label for="nameOnCard">Name on card</label>
                    <input type="text" name="nameOnCard" class="form-control dark-theme" id="nameOnCard"">
                  </div>

                  <div class="form-group">
                    <label for="cardNumber">Card number</label>
                    <input type="text" name="cardNumber" class="form-control dark-theme" id="cardNumber"">
                  </div>

                  <div class="form-group">
                    <label for="cardNumber">Card number</label>
                    <input type="text" name="cardNumber" class="form-control dark-theme" id="cardNumber"">
                  </div>

                </div>
                <div class="w-25 w-md-100 no-wrap">
                  <div class="form-group">
                    <label for="expiryDate">Expiry date</label>
                    <input type="text" name="expiryDate" class="form-control dark-theme" id="expiryDate"">
                  </div>

                  <div class="form-group">
                    <label for="securityNumber">Security number</label>
                    <input type="text" name="securityNumber" class="form-control dark-theme" id="securityNumber"">
                  </div>
                </div>
              </div>

              <div>
                <div class="text-sub-medium mb-3">Billing address</div>

                {% include "modules/parcel-hero/_module-adress.njk" %}

              </div>

              <div class="parcelhero-checkbox mb-4">
                <input type="checkbox" name="save-card" id="save-card">
                <label for="save-card">Save card</label>
              </div>

            </div>
          </div>
          <button class="btn btn-orange">TOP UP & PAY</button>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <button class="collapse-toggler" type="button" data-toggle="collapse" data-target="#acl-2" aria-expanded="false" aria-controls="acl-2">
        <div class="d-flex align-items-center">
          <div class="accordion-select mr-2"></div>
          <div>Debit card</div>
        </div>
        <div><img src="../img/icons/cards-icons.png" alt=""></div>
      </button>
      <div class="collapse" id="acl-2" data-parent="#accordionLightSelect">
        <div class="p-4">
          <div class="d-md-flex d-block align-items-center mb-3">
            <label class="radio light">
              <input type="radio" value="visa" name="debit-card-type" checked>
              <span class="checkmark"></span>

              <div>
                <img class="icon-medium" src="../img/icons/visa-icon.png" alt="">
              </div>
              <div>
                Visa
              </div>
            </label>

            <label class="radio light ml-md-3 ml-0">
              <input type="radio" value="mastercard" name="debit-card-type">
              <span class="checkmark"></span>

              <div>
                <img class="icon-medium" src="../img/icons/master-card-icon.png" alt="">
              </div>
              <div>
                Mastercard
              </div>
            </label>
          </div>
          <div class="w-50 w-md-100">
            <div class="form-group">
              <label for="nameOnCard">Name on card</label>
              <input type="text" name="nameOnCard" class="form-control dark-theme" id="nameOnCard"">
            </div>

            <div class="form-group">
              <label for="cardNumber">Card number</label>
              <input type="text" name="cardNumber" class="form-control dark-theme" id="cardNumber"">
            </div>
          </div>
          <div class="w-25 w-md-100 no-wrap">
            <div class="form-group">
              <label for="expiryDate">Expiry date</label>
              <input type="text" name="expiryDate" class="form-control dark-theme" id="expiryDate"">
            </div>

            <div class="form-group">
              <label for="securityNumber">Security number</label>
              <input type="text" name="securityNumber" class="form-control dark-theme" id="securityNumber"">
            </div>
          </div>
          <button class="btn btn-orange">PAY NOW</button>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <button class="collapse-toggler" type="button" data-toggle="collapse" data-target="#acl-3" aria-expanded="false" aria-controls="acl-3">
        <div class="d-flex align-items-center">
          <div class="accordion-select mr-2"></div>
          <div class="d-md-flex d-block align-items-center">Credit card <div class="text-tiny ml-md-2 ml-0">2% surcharge</div>
          </div>
        </div>
        <div><img src="../img/icons/cards-icons.png" alt=""></div>
      </button>
      <div class="collapse" id="acl-3" data-parent="#accordionLightSelect">
        <div class="p-4">
          <div class="d-md-flex d-block align-items-center mb-3">
            <label class="radio light">
              <input type="radio" value="visa" name="credit-card-type" checked>
              <span class="checkmark"></span>

              <div>
                <img class="icon-medium" src="../img/icons/visa-icon.png" alt="">
              </div>
              <div>
                Visa
              </div>
            </label>

            <label class="radio light ml-md-3 ml-0">
              <input type="radio" value="mastercard" name="credit-card-type">
              <span class="checkmark"></span>

              <div>
                <img class="icon-medium" src="../img/icons/master-card-icon.png" alt="">
              </div>
              <div>
                Mastercard
              </div>
            </label>
          </div>
          <div class="w-50 w-md-100">
            <div class="form-group">
              <label for="nameOnCard">Name on card</label>
              <input type="text" name="nameOnCard" class="form-control dark-theme" id="nameOnCard"">
            </div>

            <div class="form-group">
              <label for="cardNumber">Card number</label>
              <input type="text" name="cardNumber" class="form-control dark-theme" id="cardNumber"">
            </div>
          </div>
          <div class="w-25 w-md-100 no-wrap">
            <div class="form-group">
              <label for="expiryDate">Expiry date</label>
              <input type="text" name="expiryDate" class="form-control dark-theme" id="expiryDate"">
            </div>

            <div class="form-group">
              <label for="securityNumber">Security number</label>
              <input type="text" name="securityNumber" class="form-control dark-theme" id="securityNumber"">
            </div>
          </div>
          <button class="btn btn-orange">PAY NOW</button>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <button class="collapse-toggler" type="button" data-toggle="collapse" data-target="#acl-4" aria-expanded="false" aria-controls="acl-4">
        <div class="d-flex align-items-center">
          <div class="accordion-select mr-2"></div>
          <div class="d-md-flex d-block align-items-center">PayPal <div class="text-tiny ml-md-2 ml-0">2% surcharge</div>
          </div>
        </div>
        <div><img src="../img/icons/paypal-logo.png" alt=""></div>
      </button>
      <div class="collapse" id="acl-4" data-parent="#accordionLightSelect">
        <div class="p-4">
          <div class="w-50 w-md-100 no-wrap">
            <div class="form-group">
              <label for="paypalAccount">Enter your account e-mail</label>
              <input type="text" name="paypalAccount" class="form-control dark-theme" id="paypalAccount"">
            </div>
          </div>
          <button class="btn btn-orange">CONTINUE</button>
        </div>
      </div>
    </div>
  </div>
</div>