<div class="module-adress">
  <div class="text-small" data-action="adress-preview">
    <div>Parcelhero, 3-6 Canute House</div>
    <div>Durham Wharf Drive,</div>
    <div>Brentford,</div>
    <div>Tw8 8hp</div>
    <div class="link-primary-spec mt-3 mb-4" data-action="adress-change">Change</div>
  </div>

  <div class="w-50 w-md-100 d-none" data-action="adress-form">
    <label class="text-label" for="">Zip code / Postcode</label>
    <input type="text" value="Tw8 8hp" name="zip" class="form-control dark-theme mb-4">
    <label class="text-label" for="">Company <span class="text-label-light">Optional</span></label>
    <input type="text" value="Parcelhero" name="company" class="form-control dark-theme mb-4">
    <label class="text-label" for="">Address</label>
    <input type="text" value="3-6 Canute House" name="address" class="form-control dark-theme mb-4">
    <label class="text-label" for="">Address 2 <span class="text-label-light">Optional</span></label>
    <input type="text" value="" name="address-2" class="form-control dark-theme mb-4">
    <label class="text-label" for="">Town / City</label>
    <input type="text" value="Brentford" name="city" class="form-control dark-theme mb-4">
    <label class="text-label" for="">State</label>
    <input type="text" value="" name="state" class="form-control dark-theme mb-4">

    {% include "modules/parcel-hero/_module-change-country.njk" %}

  </div>

</div>