{% set currentId = idMod | default("1") %}

<div class="module-adress">

  <div class="module-adress-wrapper">
    <div class="text-small" data-action="adress-preview">
      <div>Parcelhero, 3-6 Canute House</div>
      <div>Durham Wharf Drive,</div>
      <div>Brentford,</div>
      <div>Tw8 8hp</div>
      <div class="link-primary-spec mt-3 mb-4" data-action="adress-change">Change</div>
    </div>
  </div>

  <div class="d-none" data-action="adress-form">
    <div class="form-group">
      <label class="text-label" for="af-zip-{{currentId}}">Zip code / Postcode</label>
      <input id="af-zip-{{currentId}}" type="text" value="Tw8 8hp" name="zip" class="form-control dark-theme">
    </div>
    <div class="form-group">
      <label class="text-label" for="af-company-{{currentId}}">Company <span class="text-label-light">Optional</span></label>
      <input id="af-company-{{currentId}}" type="text" value="Parcelhero" name="company" class="form-control dark-theme">
    </div>
    <div class="form-group">
      <label class="text-label" for="af-address-{{currentId}}">Address</label>
      <input id="af-address-{{currentId}}" type="text" value="3-6 Canute House" name="address" class="form-control dark-theme">
    </div>
    <div class="form-group">
      <label class="text-label" for="af-address2-{{currentId}}">Address 2 <span class="text-label-light">Optional</span></label>
      <input id="af-address2-{{currentId}}" type="text" value="" name="address-2" class="form-control dark-theme">
    </div>
    <div class="form-group">
      <label class="text-label" for="af-city-{{currentId}}">Town / City</label>
      <input id="af-city-{{currentId}}" type="text" value="Brentford" name="city" class="form-control dark-theme">
    </div>
    <div class="form-group">
      <label class="text-label" for="af-state-{{currentId}}">State</label>
      <input id="af-state-{{currentId}}" type="text" value="" name="state" class="form-control dark-theme">
    </div>

    {% include "modules/parcel-hero/_module-change-country.njk" %}

  </div>

</div>