<div class="modal-custom not-rounded" id="modal-show-onmap">
    <div class="modal-custom-cover"></div>
    <div class="modal">
        <div class="modal-custom-content scroll-bg-gray-light">
            <i alt="close button" class="icon-close close-btn"></i>
            <div class="map preset-map" data-action="mapss"></div>
            <div class="modal-location-description mt-4">
                <div class="text-small"><span id="show-onmap-distance"></span> Miles</div>
                <div class="text-strong-title" id="show-onmap-name"></div>
                <div class="d-flex">
                    <div class="preset-icon-row mr-2">
                        <div><i class="icon-location"></i></div>
                        <div><span id="show-onmap-adress"></span>,<br> <span id="show-onmap-postal"></span></div>
                    </div>
                    <div class="preset-icon-row">
                        <div><i class="icon-clock"></i></div>
                        <div id="show-onmap-worktime"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>