{# Currently this block is copied from the ready-made page
   payment.njk. Probably it can be saved as a module and 
   imported (if necessary, with params) #}
<section class="payment-method">
  <div class="payment-method-header mb-4">
    <div class="d-flex justify-content-between align-items-center">
      <div class="text-medium-m">Payment method</div>
      <div><img src="../img/icons/verisign-logo.png" alt=""></div>
    </div>
    <div class="d-md-flex d-block mb-4 ">
      <div class="text-dark-large">Total to pay: £3.56</div>
      <div class="element-group theme-dark no-label ml-md-4 ml-0 mt-md-0 mt-2">
        <label class="element-static-label">
          <input type="checkbox" name="checkbox-1" class="element-input" data-materialize />
          Private purchase
        </label>
      </div>
    </div>

    <div class="accordion theme-light grouped mb-4" id="accordionLightSelect">
      <div class="accordion-group">
        <button class="collapse-toggler" type="button" data-toggle="collapse" data-target="#acl-1" aria-expanded="false" aria-controls="acl-1">
          <div class="d-flex align-items-center">
            <div class="accordion-select mr-2"></div>
            <div>Top up and<br class="d-md-none d-block"> pay by wallet</div>
          </div>
          <div><img src="../img/ph_logo.svg" alt=""></div>
        </button>
        <div class="collapse" id="acl-1" data-parent="#accordionLightSelect">
          <div class="p-4">
            <div><label class="text-label" for="">Amount</label></div>
            <div class="d-flex align-items-center mb-1">
              <div class="w-50 w-md-100">
                <input type="text" value="" class="form-control dark-theme">
              </div>
              <div class="ml-2">
                GBP
              </div>
            </div>
            <div class="mb-4">
              <div class="text-tiny">Minimum top up £25</div>
            </div>
            <div class="w-50 w-md-100 mb-4">
              <label class="text-label" for="">Use card</label>
              <select class='form-control custom-picker' data-live-search="true" data-size="5" data-style="select-light">
                <option value="1">Select card</option>
                <option value="2">Debid card</option>
                <option value="3">Credit card</option>
                <option value="4">Bussiness card</option>
              </select>
            </div>
            <div class="w-50 w-md-100 mb-4">
              <label class="text-label" for="">Use card</label>
              <div class="form-group has-error has-feedback">
                <select class='form-control custom-picker' disabled data-live-search="true" data-size="5" data-style="select-light">
                  <option value="1">Debit card ending 1653 (Expired)</option>
                </select>
                <div class="text-small text-danger mt-2">This card has expired, select another or add a new one</div>
              </div>
            </div>
            <div>
              <button class="btn btn-add mb-4" id="payment-add-card">
                <i class="fa-plus fa"></i>
                Add card
              </button>
              <div class="d-none" id="card-form">
                <label class="text-label" for="">Card type</label>
                <div>
                  <div class="d-md-flex d-block align-items-center mb-3">
                    <label class="radio light">
                      <input type="radio" value="visa" name="card-type" checked>
                      <span class="checkmark"></span>

                      <div>
                        <img class="icon-medium" src="../img/icons/visa-icon.png" alt="">
                      </div>
                      <div>
                        Visa
                      </div>
                    </label>

                    <label class="radio light ml-md-3 ml-0">
                      <input type="radio" value="mastercard" name="card-type" checked>
                      <span class="checkmark"></span>

                      <div>
                        <img class="icon-medium" src="../img/icons/master-card-icon.png" alt="">
                      </div>
                      <div>
                        Mastercard
                      </div>
                    </label>
                  </div>
                  <div class="w-50 w-md-100">
                    <label class="text-label" for="">Name on card</label>
                    <input type="text" value="" name="name-on-card" class="form-control dark-theme mb-4">

                    <label class="text-label" for="">Card number</label>
                    <input type="text" value="" name="card-number" class="form-control dark-theme mb-4">
                  </div>
                  <div class="w-25 w-md-100 no-wrap">
                    <label class="text-label" for="">Expiry date<span class="text-lighter ml-2">(MM/YY)</span></label>
                    <input type="text" value="" name="expiry-date" class="form-control dark-theme mb-4">

                    <label class="text-label" for="">Security number</label>
                    <input type="text" value="" name="security-number" class="form-control dark-theme mb-4">
                  </div>
                </div>

                <div>
                  <div class="text-sub-medium mb-3">Billing address</div>
                  <div class="text-small" id="payment-billing">
                    <div>Parcelhero, 3-6 Canute House</div>
                    <div>Durham Wharf Drive,</div>
                    <div>Brentford,</div>
                    <div>Tw8 8hp</div>
                    <div class="link-primary mt-3 mb-4" id="change-payment-billing">Change</div>
                  </div>
                  <div class="w-50 w-md-100 d-none" id="payment-billing-form">
                    <label class="text-label" for="">Zip code / Postcode</label>
                    <input type="text" value="" name="zip" class="form-control dark-theme mb-4">
                    <label class="text-label" for="">Company <span class="text-label-light">Optional</span></label>
                    <input type="text" value="" name="company" class="form-control dark-theme mb-4">
                    <label class="text-label" for="">Address</label>
                    <input type="text" value="" name="address" class="form-control dark-theme mb-4">
                    <label class="text-label" for="">Address 2 <span class="text-label-light">Optional</span></label>
                    <input type="text" value="" name="address-2" class="form-control dark-theme mb-4">
                    <label class="text-label" for="">Town / City</label>
                    <input type="text" value="" name="city" class="form-control dark-theme mb-4">
                    <label class="text-label" for="">State</label>
                    <input type="text" value="" name="state" class="form-control dark-theme mb-4">
                    <label class="text-label" for="">Country</label>
                    <div class="d-flex justify-content-between">
                      <div class="d-flex">
                        <p class="custom-country" id="billign-country"></p> <span class="link-primary-spec ml-2" id="change-billing-country">Change</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="element-group theme-dark no-label mb-4">
                  <label class="element-static-label">
                    <input type="checkbox" name="save-card" class="element-input" data-materialize />
                    Save card
                  </label>
                </div>

              </div>
            </div>
            <button class="btn btn-orange">TOP UP & PAY</button>
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <button class="collapse-toggler" type="button" data-toggle="collapse" data-target="#acl-2" aria-expanded="false" aria-controls="acl-2">
          <div class="d-flex align-items-center">
            <div class="accordion-select mr-2"></div>
            <div>Debit card</div>
          </div>
          <div><img src="../img/icons/cards-icons.png" alt=""></div>
        </button>
        <div class="collapse" id="acl-2" data-parent="#accordionLightSelect">
          <div class="p-4">
            <div class="d-md-flex d-block align-items-center mb-3">
              <label class="radio light">
                <input type="radio" value="visa" name="debit-card-type" checked>
                <span class="checkmark"></span>

                <div>
                  <img class="icon-medium" src="../img/icons/visa-icon.png" alt="">
                </div>
                <div>
                  Visa
                </div>
              </label>

              <label class="radio light ml-md-3 ml-0">
                <input type="radio" value="mastercard" name="debit-card-type" checked>
                <span class="checkmark"></span>

                <div>
                  <img class="icon-medium" src="../img/icons/master-card-icon.png" alt="">
                </div>
                <div>
                  Mastercard
                </div>
              </label>
            </div>
            <div class="w-50 w-md-100">
              <label class="text-label" for="">Name on card</label>
              <input type="text" value="" name="debit-name-on-card" class="form-control dark-theme mb-4">

              <label class="text-label" for="">Card number</label>
              <input type="text" value="" name="debit-card-number" class="form-control dark-theme mb-4">
            </div>
            <div class="w-25 w-md-100 no-wrap">
              <label class="text-label" for="">Expiry date<span class="text-lighter ml-2">(MM/YY)</span></label>
              <input type="text" value="" name="debit-expiry-date" class="form-control dark-theme mb-4">

              <label class="text-label" for="">Security number</label>
              <input type="text" value="" name="debit-security-number" class="form-control dark-theme mb-4">
            </div>
            <button class="btn btn-orange">PAY NOW</button>
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <button class="collapse-toggler" type="button" data-toggle="collapse" data-target="#acl-3" aria-expanded="false" aria-controls="acl-3">
          <div class="d-flex align-items-center">
            <div class="accordion-select mr-2"></div>
            <div class="d-md-flex d-block align-items-center">Credit card <div class="text-tiny ml-md-2 ml-0">2% surcharge</div></div>
          </div>
          <div><img src="../img/icons/cards-icons.png" alt=""></div>
        </button>
        <div class="collapse" id="acl-3" data-parent="#accordionLightSelect">
          <div class="p-4">
            <div class="d-md-flex d-block align-items-center mb-3">
              <label class="radio light">
                <input type="radio" value="visa" name="credit-card-type" checked>
                <span class="checkmark"></span>

                <div>
                  <img class="icon-medium" src="../img/icons/visa-icon.png" alt="">
                </div>
                <div>
                  Visa
                </div>
              </label>

              <label class="radio light ml-md-3 ml-0">
                <input type="radio" value="mastercard" name="credit-card-type" checked>
                <span class="checkmark"></span>

                <div>
                  <img class="icon-medium" src="../img/icons/master-card-icon.png" alt="">
                </div>
                <div>
                  Mastercard
                </div>
              </label>
            </div>
            <div class="w-50 w-md-100">
              <label class="text-label" for="">Name on card</label>
              <input type="text" value="" name="credit-name-on-card" class="form-control dark-theme mb-4">

              <label class="text-label" for="">Card number</label>
              <input type="text" value="" name="credit-card-number" class="form-control dark-theme mb-4">
            </div>
            <div class="w-25 w-md-100 no-wrap">
              <label class="text-label" for="">Expiry date<span class="text-lighter ml-2">(MM/YY)</span></label>
              <input type="text" value="" name="credit-expiry-date" class="form-control dark-theme mb-4">

              <label class="text-label" for="">Security number</label>
              <input type="text" value="" name="credit-security-number" class="form-control dark-theme mb-4">
            </div>
            <button class="btn btn-orange">PAY NOW</button>
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <button class="collapse-toggler" type="button" data-toggle="collapse" data-target="#acl-4" aria-expanded="false" aria-controls="acl-4">
          <div class="d-flex align-items-center">
            <div class="accordion-select mr-2"></div>
            <div class="d-md-flex d-block align-items-center">PayPal <div class="text-tiny ml-md-2 ml-0">2% surcharge</div></div>
          </div>
          <div><img src="../img/icons/paypal-logo.png" alt=""></div>
        </button>
        <div class="collapse" id="acl-4" data-parent="#accordionLightSelect">
          <div class="p-4">
            <div class="w-50 w-md-100 no-wrap">
              <label class="text-label" for="">Enter your account e-mail</label>
              <input type="text" type="email" value="" name="paypal-email" class="form-control dark-theme mb-4">
            </div>
            <button class="btn btn-orange">CONTINUE</button>
          </div>
        </div>
      </div>
    </div>

  </div>
  
</section>

{# this module requires the following elements to be included on the target page:

1) {% include "modules/parcel-hero/_change-country-modal.njk" %}

2)
{% block scripts %}
<script src='/js/parcel-hero/pages/payment.js'></script>
{% endblock %}

 #}