<div class="block pt-0 pb-0 mb-3">
<div class="collapse-toggler simple disabled enabled-md" data-toggle="collapse" data-target="#collapseDtl" aria-expanded="true" aria-controls="collapseDtl">
  <h4 class="text-light-subtitle">Parcel details</h4><i class="fas fa-chevron-down d-block d-lg-none"></i>
</div>
<div class="collapse show" id="collapseDtl">
  <div class="border-bottom text-gray-darker">
    <div class="mb-2">1 x 1.5kg, 45cm x 16cm x 12cm</div>
    <div class="pb-3 border-bottom">To: United Kingdom</div>
    <div id="parcel-cost" class="text-gray-darker pt-3">
      <div class="fw-500">Billing summary</div>
      <div class="text-small d-flex justify-content-between pt-3 pb-3">
        <span>Shipping costs</span>
        <span>£<span id="parcel-shiping-cost">12.13</span></span>
      </div>
      <div class="text-small d-flex justify-content-between pb-3 border-bottom">
        <span>VAT</span>
        <span>£<span id="parcel-shiping-vat">2.43</span></span>
      </div>
      <div class="text-dark text-strong-title mb-0 d-flex justify-content-between pt-3 pb-3">
        <span>TOTAL</span>
        <span>£<span id="parcel-shiping-total">14.56</span></span>
      </div>
    </div>
  </div>
  <div class="mt-2 text-right pb-4">
    <span class="text-tiny mr-2">Pay Securely with</span><img src="./img/icons/payments-methods.png" alt="">
  </div>
</div>
</div>
<button class="btn btn-block-blue mb-3" id="parcel-login"><i class="icon-login"></i> Book faster: Log in</button>

{% include "modules/parcel-hero/_service-information.njk" %}

<button class="btn btn-block-blue mb-3"><i class="icon-live-chat"></i>Live help</button>