{# Macro for inserting inline svg icon from sprite #}
{% macro svgIcon(name, width='1em', height='1em') %}
  <svg width="{{width}}" height="{{height}}" class="inline-svg" aria-hidden="true">
    <use xlink:href="#{{name}}" />
  </svg>
{% endmacro %}


{# Checkout details for order summary pages #}
<section class="shipment-contacts">
  <h3 class="text-medium-m">Your details 
    <a href="#" data-toggle="tooltip" title="helpful info" data-original-title="Some helpful information"  class="shipment-contacts-help ml-2">{{ svgIcon("question-circle", 20, 20) }}</a>
  </h3>
  <p>We need to know who to contact if any issues occur.</p>

  <div class="accordion accordion-radio" id="accordion-details">

    <div class="accordion-radio-item">
      <div class="accordion-radio-item-header" id="accordion-detail-1">
        <button class="btn btn-link accordion-radio-toggler" type="button" data-toggle="collapse" data-target="#collapse-detail-1" aria-expanded="true" aria-controls="collapse-detail-1">I am the receiver: <b>Peter Jones</b></button>
      </div>
      <div class="collapse" id="collapse-detail-1" aria-labelledby="accordion-detail-1" data-parent="#accordion-details">
        <div class="accordion-radio-item-body">
          <p>
            Parcelhero, 3-6 Canute House<br>
            Durham Wharf Drive,<br>
            Brentford,<br>
            Tw8 8hp
          </p>
          <div class="parcelhero-checkbox">
            <input type="checkbox" id="onbehalf-flag">
            <label for="onbehalf-flag">I am shipping on behalf of Parcelhero</label>
          </div>

          <div class="row">
            <div class="col-lg-8">
              <div class="form-group">
                <label for="cd-phone">Phone number</label>
                <input type="tel" id="cd-phone" name="input" class="form-control dark-theme">
              </div>
              <div class="form-group">
                <label for="cd-email">Email</label>
                <input type="email" id="cd-email" name="input" class="form-control dark-theme">
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>

    <div class="accordion-radio-item">
      <div class="accordion-radio-item-header" id="accordion-detail-2">
        <button class="btn btn-link accordion-radio-toggler" type="button" data-toggle="collapse" data-target="#collapse-detail-2" aria-expanded="true" aria-controls="collapse-detail-2">I am the receiver: <b>John Smith</b></button>
      </div>
      <div class="collapse" id="collapse-detail-2" aria-labelledby="accordion-detail-2" data-parent="#accordion-details">
        <div class="accordion-radio-item-body">
          <p>
            Parcelhero<br>
            3-6 Canute House Durham Wharf Drive,<br>
            Brentford, Tw8 8hp
          </p>
          <ul class="list-unstyled">
            <li>
              <div class="parcelhero-radio">
                <input type="radio" name="contacts-options" id="contacts-options-1">
                <label for="contacts-options-1">
                  I am shipping on behalf of '<span>Parcelhero</span>'
                </label>
              </div>
            </li>
            <li>
              <div class="parcelhero-radio">
                <input type="radio" name="contacts-options" id="contacts-options-2">
                <label for="contacts-options-2">
                  I am shipping as an individual
                </label>
              </div>
            </li>
          </ul>
          <p class="mb-0">(A/B test 1)</p>
        </div>
      </div>
    </div>

    <div class="accordion-radio-item">
      <div class="accordion-radio-item-header" id="accordion-detail-3">
        <button class="btn btn-link accordion-radio-toggler" type="button" data-toggle="collapse" data-target="#collapse-detail-3" aria-expanded="true" aria-controls="collapse-detail-3">Someone else</button>
      </div>
      <div class="collapse" id="collapse-detail-3" aria-labelledby="accordion-detail-3" data-parent="#accordion-details">
        <div class="accordion-radio-item-body">

          {# Address search module from parcel details page #}
          <div class="block parcel-details">
            <div class="block-title">
              <h4 class="text-medium-subtitle">Delivery Address</h4><i class="icon-help presset-icon-medium"></i>
            </div>

            <div class="pt-2 pb-2 mb-2 parcel-find-address" id="parcel-find-dadress">
              <label class="text-label" for="">Find address</label>
              <div class="search-input">
                <input type="text" autocomplete="new-adress" name="delivery-adress" data-type="advanced" data-custom="#parcel-add-delivery-address" data-target="#parcel-find-adress-result" data-adv="#parcel-find-dadress-adv" data-hide="#parcel-find-dadress" data-data="adress" placeholder="Start typing the address" id="parcel-collection-daddress" class="form-control dark-theme">
              </div>
            </div>

            <div class="pt-2 pb-2 mb-2 module-wrapper">
              <div class="row">
                <div class="col-md-6">
                  {% set idMod = "checkout" %}
                  {% include "modules/parcel-hero/_module-adress.njk" %}
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="pt-3 pb-3 pl-1 border-top border-bottom">

    <div class="parcelhero-checkbox theme-black mb-0">
      <input type="checkbox" id="subscribe-flag" checked>
      <label for="subscribe-flag">Send me exclusive deals and offers. <i>We don’t ever share your data.</i></label>
    </div>

  </div>

</section>

