<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{pageTitle | default("Parcelhero Checkout")}}</title>
    <link rel="stylesheet" href="/css/hero-style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body class="bg-gray-light">

{% block content %}
{% endblock %}

{% include "structure/parcel-hero/_scripts.njk" %}

{% block scripts %}
{% endblock %}

</body>
</html>