<script src='/js/jquery.js'></script>
<script src="/js/popper.js"></script>
<script src="/js/bootstrap.js"></script>
<script src='/js/bootstrap-select.js'></script>
<script src='/js/flatpickr.js'></script>

<script src='/js/parcel-hero/libs/charts/circleChart.min.js'></script>
<script src='/js/parcel-hero/libs/form-anims.js'></script>
<script src='/js/parcel-hero/libs/jquery.ripple.js'></script>

<script src='/js/parcel-hero/libs/iefixes.js'></script>

<script src='/js/parcel-hero/global/data.js'></script>
<script src='/js/parcel-hero/global/script.js'></script>

<script src='/js/parcel-hero/components/middle-sidebar.js'></script>
<script src='/js/parcel-hero/components/header.js'></script>
<script src="/js/parcel-hero/components/modal.js"></script>
<script src="/js/parcel-hero/components/checkboxes.js"></script>

<script src="/js/parcel-hero/modules/modules.js"></script>

<script src="/js/parcel-hero/custom-script.js"></script>